# Map, Filter, Reduce

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Each-student-is-randomly-assigned-a-topic" data-toc-modified-id="Each-student-is-randomly-assigned-a-topic-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Each student is randomly assigned a topic</a></span></li></ul></li><li><span><a href="#Let's-start" data-toc-modified-id="Let's-start-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Let's start</a></span><ul class="toc-item"><li><span><a href="#Create-groups-with-other-people-who-have-studied-the-same-function" data-toc-modified-id="Create-groups-with-other-people-who-have-studied-the-same-function-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Create groups with other people who have studied the same function</a></span></li></ul></li><li><span><a href="#Map,-Filter,-Reduce" data-toc-modified-id="Map,-Filter,-Reduce-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Map, Filter, Reduce</a></span><ul class="toc-item"><li><span><a href="#Map" data-toc-modified-id="Map-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Map</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Filter" data-toc-modified-id="Filter-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Filter</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Reduce</a></span><ul class="toc-item"><li><span><a href="#What-happened?" data-toc-modified-id="What-happened?-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>What happened?</a></span></li></ul></li><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Bonus:-Do-it-with-lambda!" data-toc-modified-id="Bonus:-Do-it-with-lambda!-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Bonus: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

### Each student is randomly assigned a topic

In [10]:
students = [
    "Javier", "Ricardo", "Edu", "Marco", "Marc", "Noe", "Ana", "Maira", "Martina", "Marta",
    "Lucia", "Clàudia", "Esther", "Félix", "Pati.Z", "Pere", "Amir", "Patricia.S",
    "Emma", "Víctor", "Micky", "León", "Junior", "Oriol", "Aída", "Sara"
]

In [11]:
# Group 1: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]
# Group 2: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]

In [12]:
topics = ["map"] * 9 +  ["filter"] * 9 + ["reduce"] * 9

In [ ]:
# python: map, filter, reduce
    # not specific to a dat type
    # functions we call AND we pass the arguemnts: built-in

In [14]:
import random
random.shuffle(students) #this returns None, modifies in place
alltogether = list(zip(students, topics))
alltogether

[('Micky', 'map'),
 ('Lucia', 'map'),
 ('León', 'map'),
 ('Ricardo', 'map'),
 ('Martina', 'map'),
 ('Junior', 'map'),
 ('Amir', 'map'),
 ('Ana', 'map'),
 ('Patricia.S', 'map'),
 ('Clàudia', 'filter'),
 ('Aída', 'filter'),
 ('Marco', 'filter'),
 ('Pere', 'filter'),
 ('Sara', 'filter'),
 ('Emma', 'filter'),
 ('Oriol', 'filter'),
 ('Víctor', 'filter'),
 ('Edu', 'filter'),
 ('Javier', 'reduce'),
 ('Noe', 'reduce'),
 ('Maira', 'reduce'),
 ('Marc', 'reduce'),
 ('Esther', 'reduce'),
 ('Félix', 'reduce'),
 ('Pati.Z', 'reduce'),
 ('Marta', 'reduce')]

In [18]:
map_experts = list(filter(lambda x: x[1] == "map", alltogether))
filter_experts = list(filter(lambda x: x[1] == "filter", alltogether))
reduce_experts = list(filter(lambda x: x[1] == "reduce", alltogether))

In [20]:
counter = 1
for everyone in zip(map_experts, filter_experts, reduce_experts):
    print(f"Group {counter}: {[[i][0] for i in everyone]}")
    counter += 1

Group 1: [('Micky', 'map'), ('Clàudia', 'filter'), ('Javier', 'reduce')]
Group 2: [('Lucia', 'map'), ('Aída', 'filter'), ('Noe', 'reduce')]
Group 3: [('León', 'map'), ('Marco', 'filter'), ('Maira', 'reduce')]
Group 4: [('Ricardo', 'map'), ('Pere', 'filter'), ('Marc', 'reduce')]
Group 5: [('Martina', 'map'), ('Sara', 'filter'), ('Esther', 'reduce')]
Group 6: [('Junior', 'map'), ('Emma', 'filter'), ('Félix', 'reduce')]
Group 7: [('Amir', 'map'), ('Oriol', 'filter'), ('Pati.Z', 'reduce')]
Group 8: [('Ana', 'map'), ('Víctor', 'filter'), ('Marta', 'reduce')]

## Let's start

You have 10 minutes to explore and understand the role you have been assigned on your own. You may find these links useful:

- [map, filter, reduce - I](https://medium.com/swlh/higher-order-functions-in-python-map-filter-and-reduce-34299fee1b21)
- [map, filter, reduce - II](https://www.learnpython.org/en/Map,_Filter,_Reduce)
- [map, filter, reduce - III](https://stackabuse.com/map-filter-and-reduce-in-python-with-examples)

### Create groups with other people who have studied the same function

![otrogif](https://media.giphy.com/media/UatRnEUNX8iCQ/giphy.gif)

In this part of the game you are assigned to a group in which you are the expert in your role.
Each group member has 5 minutes to explain their role to the other team members.

## Map, Filter, Reduce

There are three functions that will come in very handy when working with iterators. These functions facilitate certain basic and common operations on iterable collections of data, such as removing elements that do not meet a certain condition, calculating a result from the contained data, or applying a transformation to each element. Let's see them with examples of use:

### Map

The map() function takes a function and a list and applies that function to each element in that list, producing a new list.
```python
map(function_to_apply, list_of_inputs)
```

In [21]:
map_experts

[('Micky', 'map'),
 ('Lucia', 'map'),
 ('León', 'map'),
 ('Ricardo', 'map'),
 ('Martina', 'map'),
 ('Junior', 'map'),
 ('Amir', 'map'),
 ('Ana', 'map'),
 ('Patricia.S', 'map')]

In [22]:
random.choice(map_experts)

('Lucia', 'map')

In [ ]:
# map

# call a function
# defined or not defined
    # functions
    # lambda too
# instead of using for
# map(name_of_the_function, iterables)

In [ ]:
def name_of_the_function (arg1, arg2):
    pass

In [ ]:
map(name_of_the_function, iterable1, iterable2)

In [ ]:
# what if different length? -> gets the shortest one (No error)

`goal: square of numbers`

#### First we do it with functions

In [ ]:
# [4, "w4"]

def whole_thing (LIST_):
    return LIST_


#2. Def: ONE THING ELEMENT / ONE THING AT A TIME
    # 2.1. Scale things up: putting them in a loop

def simple_function (one_element):
    return one_element_modified

# loop -> loop / map

In [23]:
def square_of_numbers (x):
    return x ** 2

In [24]:
nums = [567, 45 ,45 ,56 , 4]

In [25]:
for i in nums:
    print(square_of_numbers (i))

321489
2025
2025
3136
16

In [27]:
list(map(square_of_numbers, nums))

[321489, 2025, 2025, 3136, 16]

The map function returns an iterator, so we have to use `list(map_iterator)`

#### Extra: Do it with lambda!

In [28]:
list(map(lambda x: x**2, nums))

[321489, 2025, 2025, 3136, 16]

In [ ]:
# another way to do loops and pass functions
    # no need to append to a new list

In [39]:
list_1 = [1, 2, 3, 4, 5, 6, 7, 7, 8]
list_2 = [10, 20, 30, 40, 50]

In [40]:
def takes_two (a, b):
    return a + b

In [42]:
new_list = list(map(takes_two, list_1, list_2))
new_list

[11, 22, 33, 44, 55]

In [ ]:
# skip the zip
# skip the loop
# skip the append

### Filter

The filter() function filters a list of items for which a function returns True.
```python
filter(a_function, a_list)
```

Imagine you want to filter a list of numbers to get only even values.

In [43]:
filter_experts

[('Clàudia', 'filter'),
 ('Aída', 'filter'),
 ('Marco', 'filter'),
 ('Pere', 'filter'),
 ('Sara', 'filter'),
 ('Emma', 'filter'),
 ('Oriol', 'filter'),
 ('Víctor', 'filter'),
 ('Edu', 'filter')]

In [44]:
random.choice(filter_experts)

('Víctor', 'filter')

In [ ]:
# Filter function
     # - applies a function
    # - to an interable (list)
    # - only returns elements that satisfy a condition
    # - returns a boolean -> values
    # list? bool? list()

#### First we do it with functions

In [50]:
grades = [50, 60 , 100, 40, 30, 0, 2, 10]

In [51]:
def passed_grades (x):
    return x >= 50

In [52]:
new_list = list(filter(passed_grades, grades))
new_list

[50, 60, 100]

In [53]:
filter(passed_grades, grades)

Imagine that you want to filter a list and keep only the groups that start with the letter R

#### Extra: Do it with lambda!

In [54]:
new_list = list(filter(lambda x: x >= 50, grades))
new_list

[50, 60, 100]

### Reduce

This function is not a built-in function, which means you must first import the functools library for use. The reduce() function cumulatively applies the f() function to the elements of the iterable. The accumulator can be initialized with an optional third argument. The result is the final value of the accumulator.

```python
reduce(function, iterable[, initial])
```

In [56]:
random.choice(reduce_experts)

('Pati.Z', 'reduce')

In [55]:
from functools import reduce

In [ ]:
# reduce
    # it needs to be imported
    # won't give a list: RETURNS A NUMBER
    # DOES
        # like filter -> 
        # first two number -> cumjulatively it'll add the third

⚠️ Reduce is a bit more complicated to understand than map() and filter() so let's walk through the following example ⚠️

In [62]:
from functools import reduce 
def paty_function (first_arg, second_arg):
    """It's gonna add numbers of a list in pairs of two
    :first_arg: int
    :second_arg: int
    """
    result =  first_arg + second_arg
    print(f"{first_arg} + {second_arg}, resulting in: {result}")
    return result

In [65]:
my_list = [2, 4, 6, 2, 7, 10]

In [66]:
reduce(paty_function, my_list) #

2 + 4, resulting in: 6
6 + 6, resulting in: 12
12 + 2, resulting in: 14
14 + 7, resulting in: 21
21 + 10, resulting in: 31

31

In [68]:
reduce(paty_function, my_list, 10) # if 10, first number it'll be 16

10 + 2, resulting in: 12
12 + 4, resulting in: 16
16 + 6, resulting in: 22
22 + 2, resulting in: 24
24 + 7, resulting in: 31
31 + 10, resulting in: 41

41

In [ ]:
# function 
# needs to be imported
# takes a function & iterables
    # initial
# doesnt return an object or a weird looking thing: <filter at 0x7f7a028a5c70>
# gives you a number

#### What happened?
- We start with a list [2, 4, 7, 3] and pass the function add (x, y) to reduce ( ) along with this list, without an initial value

- reduce() calls add(2, 4), and add() returns 6

- reduce() calls sum(6, 7) (result of the previous call to sum() and the next element in the list as parameters), and sum() returns 13

- reduce() calls sum(13, 3), and sum() returns 16

Since there are no more elements left in the sequence, reduce() returns 16

Factorial:
Amount that results from the multiplication of a certain natural number by all the natural numbers that precede it, excluding zero; is represented by n!

In [70]:
a_list_of_strings = ["a", "b", "c", "d"]

word = reduce(paty_function, a_list_of_strings)

a + b, resulting in: ab
ab + c, resulting in: abc
abc + d, resulting in: abcd

### First we do it with functions

### Bonus: Do it with lambda!

In [76]:
a_list_of_strings = ["a", "b", "c", "d"]

word = reduce(lambda a, b: a.upper() + " " + b.upper(), a_list_of_strings, "ALPHABET: ")
word

'ALPHABET:  A B C D'

## Summary

In [ ]:
# map, filter, reduce
# function

# 1. Don't try to tackle everything at once
# 2. Write the function that targets data types instead of data structures
# 3. Later on:
    # Loop through the data structures passing the defined functions
    # Actually loop OR use map, filter, reduce

In [78]:
def square (list_): # okay
    new_list = []
    for i in list_:
        new_list.append(i**2)
        
    return new_list
square ([1, 2, 3, 5])

[1, 4, 9, 25]

In [79]:
def square (one_number): # better
    return one_number ** 2

list(map(square, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

## Further materials
http://web.mit.edu/6.005/www/sp16/classes/25-map-filter-reduce/