# Worries / Not sure / expectations

- Classes: going fast
- worried about the labs 
- labs I dont feel like im learning
- datasets? projects...

CONTENT
- Fast-paced: catch up / concatenated
- More intense than expected
- No time
- Too fast -> can't REMEMBER
- Moving forward: things built on top of each oterh (previous)
- Python? SQL?


LABS
- Katas: good for reviewm, buuuuut
- too much time for labs
- unfinished labs
- 100%, 100%: 
    - 100% of yourself

PROJECTS
    - project: EDA: exploratory data analysis
    - .csv file -> table, "dirty" data is not clean
    - 4 categories -> 
        - "furniture"
        - "furnitures"
        - "chairs and stuff"
        - What's the percentage of furnitre sold in this region?

LEARNING IN GENERAL - Roller coaster
TIME
   - checking the feedback
   - feedack: projects
   
- lab vs recap: time? 

- FAST
    - Don't worry about rememering things
    - Feeling: "I feel like I'm not retaining" "not learning"
    - Overtime: "click" moment
    
- Best practices
- No positive feedback?

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Installation" data-toc-modified-id="Installation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Installation</a></span></li><li><span><a href="#Introduction-to-pandas-data-structures" data-toc-modified-id="Introduction-to-pandas-data-structures-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Introduction to pandas data structures</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="#Dataframes" data-toc-modified-id="Dataframes-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Dataframes</a></span><ul class="toc-item"><li><span><a href="#From-data-types" data-toc-modified-id="From-data-types-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>From data types</a></span></li><li><span><a href="#From-path" data-toc-modified-id="From-path-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>From path</a></span></li><li><span><a href="#From-databases" data-toc-modified-id="From-databases-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>From databases</a></span></li></ul></li></ul></li><li><span><a href="#Exploratory-analysis-of-a-dataframe" data-toc-modified-id="Exploratory-analysis-of-a-dataframe-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Exploratory analysis of a dataframe</a></span><ul class="toc-item"><li><span><a href="#Meta-information" data-toc-modified-id="Meta-information-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Meta information</a></span></li><li><span><a href="#Previsualization" data-toc-modified-id="Previsualization-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Previsualization</a></span></li><li><span><a href="#Order-a-dataframe" data-toc-modified-id="Order-a-dataframe-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Order a dataframe</a></span></li><li><span><a href="#NaN-values" data-toc-modified-id="NaN-values-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>NaN values</a></span></li><li><span><a href="#Basic-descriptive-statistics" data-toc-modified-id="Basic-descriptive-statistics-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Basic descriptive statistics</a></span></li></ul></li><li><span><a href="#Pandas-usual-methods" data-toc-modified-id="Pandas-usual-methods-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Pandas usual methods</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

# Pandas

![pandas](https://media.giphy.com/media/nVsLCrW5iHf6E/giphy.gif)

## Introduction
Pandas is undoubtedly the most widely used library in the Python ecosystem for data manipulation and analysis. It's fast, powerful, flexible, easy to use and open source.


Among its main features:

- A fast and efficient **DataFrame** object for data manipulation with built-in indexing* 

- **Reading and writing** of data in many formats: Microsoft Excel, CSV, SQL databases, etc;

- Integrated and efficient methods for all types of data manipulation: missing data, subset, union, merge, etc;

- Ease of working with temporary data (in fact, Pandas is named after "PANnel DAta")

- Good **integration with other data analysis or Machine learning libraries**: scikit-learn, scipy, seaborn, plotly, etc;

- It is **widely used** in both the private and academic sectors


Pandas provides high-level data structures and functions designed to make working with structured or tabular data fast, easy, and expressive. Since its introduction in 2010, it has helped make Python a powerful and productive data analysis environment. The main pandas objects that will be used in this book are the DataFrame, a column-oriented tabular data structure with row and column labels, and the Series, a labeled one-dimensional array object.

Pandas combines the high performance ideas of NumPy with the flexible data manipulation capabilities of spreadsheets and relational databases (such as SQL). It provides sophisticated indexing functionality to make it easy to reshape, slice and dice, perform aggregations, and select subsets of data.

![image](https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgilpress%2Ffiles%2F2016%2F03%2FTime-1200x511.jpg)



Source: [Forbes](https://www.forbes.com/sites/gilpress/2016/03/23/data-preparation-most-time-consuming-least-enjoyable-data-science-task-survey-says/#1ba071616f63)

## Installation

The first thing you should do will always be
`pip install pandas`, `conda install pandas`

In [1]:
# anaconda
    # enviroments: ironhack
    #pandas
    
# miniconda
    # conda activate ironhack
    #pip install pandas

In [4]:
import pandas as pd
import numpy as np

## Introduction to pandas data structures
To get started with pandas, you'll need to get comfortable with its two working data structures: Series and DataFrame. Although they are not a universal solution to all problems, they provide a solid and easy-to-use foundation for most applications.

In [ ]:
# pd
# DataFrame: tables
    # Series: column / row

### Series
A Serie is a one-dimensional array object containing a sequence of values ​​(of NumPy-like types) and an associated array of data labels, called its index. The simplest Series is formed from a single array of data:

In [28]:
series_ = pd.Series([1, 2, 3, "sdsd", 34534])

In [29]:
series_ 

#dtype: object, umbrella term for type of object
#dtype: str

0        1
1        2
2        3
3     sdsd
4    34534
dtype: object

In [31]:
series_.index

for i in series_.index:
    print(i)

0
1
2
3
4

In [ ]:
# T
# transpose
# similar methods to numpy

In [ ]:
# Index that is not just numbers: 
    # List of IDs may be index
    # Dates

In [11]:
series_.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
#[i for i in dir(series_) if "_" not in i]

The string representation of a Series displayed interactively shows the index on the left and the values ​​on the right. Since we didn't specify an index for the data, a default one consisting of the integers 0 to N - 1 (where N is the length of the data) is created. You can get the array representation and the index object of the Series through its values ​​and index attributes, respectively:

Another way to think of a Series is as a fixed-length ordered dict, since it is a mapping of index values ​​to data values. It can be used in many contexts where a dictionary could be used.
If you have data contained in a Python dict, you can create a Series from it by passing the dict:

In [12]:
some_data = {
    "Ohio": 87654,
    "Texas": 678,
    "Oregon": 6789,
    "Utah": 5678,
    "something_else": 567
}

In [13]:
my_series = pd.Series(some_data) #class Series(something: dict)
my_series

Ohio              87654
Texas               678
Oregon             6789
Utah               5678
something_else      567
dtype: int64

In [ ]:
# Keys of the dict: became the index
# Values: values

In [14]:
my_series.index

Index(['Ohio', 'Texas', 'Oregon', 'Utah', 'something_else'], dtype='object')

In [15]:
my_series.values

array([87654,   678,  6789,  5678,   567])

In [ ]:
# can two methods have the same name?
# a: no

When only one dict is passed, the resulting String index will have the keys of the dict in order. You can override this by passing the keys of the dict in the order you want them to appear in the resulting String:

In [25]:
# class Series ():
    #def __init__(self, data, index):
    
# 1. The data    
some_data = {
    "Ohio": 87654,
    "Texas": 678,
    "Oregon": 6789,
    "Utah": 5678,
    "something_else": 567
}


# 2. Overwriting the index
states = ["Ohio", "Texas", "oregón", "Utah", "California"]

# 3. Instantiating the series: Index will become the states list

my_series = pd.Series(data = some_data, index = states)

In [27]:
my_series.index

Index(['Ohio', 'Texas', 'oregón', 'Utah', 'California'], dtype='object')

In [26]:
my_series # In the index corresponding to California, no value -> NaN

# NaN: Not a Number, missing value, empty / null

Ohio          87654.0
Texas           678.0
oregón            NaN
Utah           5678.0
California        NaN
dtype: float64

In [ ]:
# Pandas
    # 1. Series
        # 1.1. Index: can be overwritten
        # 1.2. Values: values
        
    # 2. Dataframes
       # Vertical series
        # horizontal series

Here, the three values ​​found in sdata were placed in the appropriate places, but since no value was found for 'California', it appears as NaN (not a number), which is considered in pandas to mark missing values ​​or NA. Since "Utah" was not included in the states, it is excluded from the resulting object.

### Dataframes
Pandas can read and write data from a wide variety of formats. [Read the documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)
Although one of the most common is from a dict of lists of equal length or NumPy arrays:

#### From data types

`from dictionaries with lists as values`

In [35]:
dictionary_with_lists_as_values = {
    "state": ["California", "New york", "Utah", "Oregon"],
    "year": [2023, 1809, 2008, 1900],
    "something_else": ["Great", "Crowded", "?", "??"]
}

In [36]:
df = pd.DataFrame(dictionary_with_lists_as_values)
df

        state  year something_else
0  California  2023          Great
1    New york  1809        Crowded
2        Utah  2008              ?
3      Oregon  1900             ??

In [41]:
import numpy as np

dictionary_with_lists_as_values = {
    "state": ["California", "New york", "Utah", np.NaN], # one less element
    "year": [2023, 1809, 2008, 1900],
    "something_else": ["Great", "Crowded", "?", "??"]
}

# Error 
# NaN in Oregon
# One less row


# ValueError: All arrays must be of the same length
pd.DataFrame(dictionary_with_lists_as_values)

        state  year something_else
0  California  2023          Great
1    New york  1809        Crowded
2        Utah  2008              ?
3         NaN  1900             ??

In [39]:
dictionary_with_lists_as_values = {
    "state": ["California", "New york", "Utah"], # one less element
    "year": [2023, 1809, 2008, 1900],
    "something_else": ["Great", "Crowded", "?", "??"]
}

# Error 
# NaN in Oregon
# One less row


# ValueError: All arrays must be of the same length
# df = pd.DataFrame(dictionary_with_lists_as_values)

Since we are using Jupyter Notebook, pandas DataFrame objects will be displayed as a more browser-friendly HTML table. [More info on this](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html)

`from list of dictionaries`

If I create a dataframe through a list of dictionaries:
- Each dictionary will be a row
- The keys will be the names of the columns
- They have to have the same structure

In [50]:
# state
# year
# something else

list_of_dictionaries = [  # total # of keys: 3 for all
    {"state": "CA", "year": 2023, "something_else": "question mark"},
    {"state": "NY", "year": 1900, "something_else": "😀"},
    {"state": "OR", "year": 2008, "something_else": "Random word"},
    {"states": "UT", "year": 1901, "something_else": "Building my first df"},
    {"states": "UT", "year": 1901, "something_else": "Building my first df"},
    {"states": "UT", "year": 1901, "something_else": "Building my first df"}

]

df = pd.DataFrame(list_of_dictionaries)
df

  state  year        something_else states
0    CA  2023         question mark    NaN
1    NY  1900                     😀    NaN
2    OR  2008           Random word    NaN
3   NaN  1901  Building my first df     UT
4   NaN  1901  Building my first df     UT
5   NaN  1901  Building my first df     UT

In [52]:
#[i for i in dir(df) if "_" not in i]

In [55]:
# q: Make the idnex start at 1

# Class DataFrame ()
    # Naming conventions: class are capitalized
# Methods
# Attribues
    # Index: attribute

df.index = range(1,7,1)

# Attributes of instances can be overwritten

In [ ]:
class DataFrame(): 
    def __init__(data, index=None):
        self.data = data
        self.index = index
        
    def drop_columns ():
        pass
    
df = pd.DataFrame(dictionary_with_lists)
df.index # range(0, 6)
df.index = range(10, 17)

# overwriting the attribute of an instance I created
# from the class DataFrame

# saxon.health -= 30
# overwriting the atribute of the instance im working with

[i for i in dir(df) if "_" not in i] # attributes and methods

In [56]:
df

  state  year        something_else states
1    CA  2023         question mark    NaN
2    NY  1900                     😀    NaN
3    OR  2008           Random word    NaN
4   NaN  1901  Building my first df     UT
5   NaN  1901  Building my first df     UT
6   NaN  1901  Building my first df     UT

[pandas from dict](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_dict.html)

#### From path

`.csv`

In [ ]:
# sep
# csv stands for: comma separated values

In [65]:
df = pd.read_csv("../datasets/avocado_kaggle.csv") # encoding
df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

`.xlsx`, `xls`, `xlsm`, `xlsb`, `odf`, `ods`, `odt`

In [37]:
#df_from_excel = pd.read_excel("../datasets/Online Retail.xlsx", engine="openpyxl", nrows=5)
#df_from_excel.head()

`Reading different sheeets`

In [38]:
# Default tab (first one)

#df_from_excel_new_tab = pd.read_excel("../datasets/Online Retail.xlsx", engine="openpyxl", nrows=5)
#df_from_excel_new_tab.head()

In [39]:
# Other tab: (new_tab)
#df_from_excel_new_tab = pd.read_excel("../datasets/Online Retail.xlsx", engine="openpyxl", "new_tab", nrows=5)
#df_from_excel_new_tab.head()

`web`: https://raw.githubusercontent.com/datapackage-examples/sample-csv/master/sample.csv

In [67]:
df = pd.read_csv("https://raw.githubusercontent.com/datapackage-examples/sample-csv/master/sample.csv")
df

,header 0,header 1,header 2,header 3,header 4,header 5,header 6,header 7,header 8,header 9
0,row 1 col 0,row 1 col 1,row 1 col 2,row 1 col 3,row 1 col 4,row 1 col 5,row 1 col 6,row 1 col 7,row 1 col 8,row 1 col 9
1,row 2 col 0,row 2 col 1,row 2 col 2,row 2 col 3,row 2 col 4,row 2 col 5,row 2 col 6,row 2 col 7,row 2 col 8,row 2 col 9
2,row 3 col 0,row 3 col 1,row 3 col 2,row 3 col 3,row 3 col 4,row 3 col 5,row 3 col 6,row 3 col 7,row 3 col 8,row 3 col 9
3,row 4 col 0,row 4 col 1,row 4 col 2,row 4 col 3,row 4 col 4,row 4 col 5,row 4 col 6,row 4 col 7,row 4 col 8,row 4 col 9
4,row 5 col 0,row 5 col 1,row 5 col 2,row 5 col 3,row 5 col 4,row 5 col 5,row 5 col 6,row 5 col 7,row 5 col 8,row 5 col 9
5,row 6 col 0,row 6 col 1,row 6 col 2,row 6 col 3,row 6 col 4,row 6 col 5,row 6 col 6,row 6 col 7,row 6 col 8,row 6 col 9
6,row 7 col 0,row 7 col 1,row 7 col 2,row 7 col 3,row 7 col 4,row 7 col 5,row 7 col 6,row 7 col 7,row 7 col 8,row 7 col 9
7,row 8 col 0,row 8 col 1,row 8 col 2,row 8 col 3,row 8 col 4,row 8 col 5,row 8 col 6,row 8 col 7,row 8 col 8,row 8 col 9
8,row 9 col 0,row 9 col 1,row 9 col 2,row 9 col 3,row 9 col 4,row 9 col 5,row 9 col 6,row 9 col 7,row 9 col 8,row 9 col 9
9,row 10 col 0,row 10 col 1,row 10 col 2,row 10 col 3,row 10 col 4,row 10 col 5,row 10 col 6,row 10 col 7,row 10 col 8,row 10 col 9

In [68]:
!curl "https://raw.githubusercontent.com/Ironhack-data-bcn-oct-2023/lectures/main/datasets/avocado_kaggle.csv" > example.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1942k  100 1942k    0     0  1095k      0  0:00:01  0:00:01 --:--:-- 1101k

In [69]:
! open example.csv

#### From databases

`sql`: [docs](https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html)

```python
from sqlite3 import connect

conn = connect(':memory:')
df = pd.read_sql('SELECT column_1, column_2 FROM sample_data', conn)

df.to_sql('test_data', conn)
```

`mongodb`

```python
import pymongo
from pymongo import MongoClient

client = MongoClient()
db = client.database_name
collection = db.collection_name
data = pd.DataFrame(list(collection.find()))
```

## Exploratory analysis of a dataframe

### Meta information

`shape, columns, dtypes, info, describe`

[How dtypes work](https://numpy.org/doc/stable/reference/arrays.dtypes.html)

### Previsualization

`head`

By default head shows me the first 5 rows, I can see some more or less by passing a number as a parameter

`tail`

### Order a dataframe

Same operation, but give me only concrete columns

`sample`

`display`

### NaN values
NaN stands for Not A Number and is one of the common ways to represent the missing value in the data. It is a special floating point value and cannot be converted to a type other than float.
The NaN value is one of the main problems in data analysis. It is very essential to deal with NaN to get the desired results.

###  Basic descriptive statistics

## Pandas usual methods
```python
df.head() # prints the head, default 5 rows
df.tail() # set the tail, default 5 rows
df.describe() # statistical description
df.info() # df information
df.columns # show column
df.index # show index
df.dtypes # show column data types
df.plot() # make a plot
df.hist() # make a histogram
df.col.value_counts() # counts the unique values ​​of a column
df.col.unique() # returns unique values ​​from a column
df.copy() # copies the df
df.drop() # remove columns or rows (axis=0,1)
df.dropna() # remove nulls
df.fillna() # fills nulls
df.shape # dimensions of the df
df._get_numeric_data() # select numeric columns
df.rename() # rename columns
df.str.replace() # replace columns of strings
df.astype(dtype='float32') # change the data type
df.iloc[] # locate by index
df.loc[] # locate by element
df.transpose() # transposes the df
df.T
df.sample(n, frac) # sample from df
df.col.sum() # sum of a column
df.col.max() # maximum of a column
df.col.min() # minimum of one column
df[col] # select column
df.col
df.isnull() # null values
df.isna()
df.notna() # not null values
df.drop_duplicates() # remove duplicates
df.reset_index(inplace=True) # reset the index and overwrite
```

## Further materials

* [Read the docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Exercises to practice](https://github.com/guipsamora/pandas_exercises)
* [More on merge, concat, and join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). And [even more!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)