<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-operations-with-dataframes" data-toc-modified-id="Basic-operations-with-dataframes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic operations with dataframes</a></span><ul class="toc-item"><li><span><a href="#Select:-column" data-toc-modified-id="Select:-column-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Select: column</a></span></li><li><span><a href="#Select:-subset" data-toc-modified-id="Select:-subset-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Select: subset</a></span></li><li><span><a href="#Get-the-unique-values-​​of-a-column" data-toc-modified-id="Get-the-unique-values-​​of-a-column-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Get the unique values ​​of a column</a></span></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#by-the-value-of-the-columns" data-toc-modified-id="by-the-value-of-the-columns-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>by the value of the columns</a></span></li><li><span><a href="#df.loc-&amp;-df.iloc" data-toc-modified-id="df.loc-&amp;-df.iloc-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>df.loc &amp; df.iloc</a></span><ul class="toc-item"><li><span><a href="#Based-on-label:-loc" data-toc-modified-id="Based-on-label:-loc-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Based on label: <code>loc</code></a></span></li><li><span><a href="#Based-on-index:--iloc" data-toc-modified-id="Based-on-index:--iloc-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Based on index:  <code>iloc</code></a></span></li></ul></li><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Rename columns</a></span><ul class="toc-item"><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Rename columns</a></span></li></ul></li><li><span><a href="#Change-the-data-type-of-a-column" data-toc-modified-id="Change-the-data-type-of-a-column-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Change the data type of a column</a></span></li><li><span><a href="#Copy-a-dataframe" data-toc-modified-id="Copy-a-dataframe-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Copy a dataframe</a></span></li></ul></li><li><span><a href="#deleting" data-toc-modified-id="deleting-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>deleting</a></span><ul class="toc-item"><li><span><a href="#delete-columns" data-toc-modified-id="delete-columns-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>delete columns</a></span></li><li><span><a href="#delete-rows" data-toc-modified-id="delete-rows-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>delete rows</a></span></li></ul></li><li><span><a href="#working-with-the-index" data-toc-modified-id="working-with-the-index-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>working with the index</a></span></li><li><span><a href="#Operations-between-columns" data-toc-modified-id="Operations-between-columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Operations between columns</a></span><ul class="toc-item"><li><span><a href="#creating-columns" data-toc-modified-id="creating-columns-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>creating columns</a></span></li><li><span><a href="#apply:-mapping-a-function-to-columns-/-rows" data-toc-modified-id="apply:-mapping-a-function-to-columns-/-rows-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>apply: mapping a function to columns / rows</a></span></li></ul></li><li><span><a href="#Deleting-the-duplicates" data-toc-modified-id="Deleting-the-duplicates-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Deleting the duplicates</a></span></li><li><span><a href="#Null-values" data-toc-modified-id="Null-values-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Null values</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#It-is-null?" data-toc-modified-id="It-is-null?-7.0.1"><span class="toc-item-num">7.0.1&nbsp;&nbsp;</span>It is null?</a></span></li><li><span><a href="#Is-NOT-null?" data-toc-modified-id="Is-NOT-null?-7.0.2"><span class="toc-item-num">7.0.2&nbsp;&nbsp;</span>Is NOT null?</a></span></li><li><span><a href="#Sum-the-null-values-​​of-each-column" data-toc-modified-id="Sum-the-null-values-​​of-each-column-7.0.3"><span class="toc-item-num">7.0.3&nbsp;&nbsp;</span>Sum the null values ​​of each column</a></span></li></ul></li><li><span><a href="#delete-null-values" data-toc-modified-id="delete-null-values-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>delete null values</a></span></li><li><span><a href="#How-to-fill-in-the-missing-data" data-toc-modified-id="How-to-fill-in-the-missing-data-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>How to fill in the missing data</a></span></li></ul></li><li><span><a href="#Export-data" data-toc-modified-id="Export-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Export data</a></span></li><li><span><a href="#Pandas-usual-methods" data-toc-modified-id="Pandas-usual-methods-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Pandas usual methods</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

![](https://files.realpython.com/media/How-to-Speed-Up-Your-Pandas-Projects_Watermarked.87866cfe1bc2.jpg)

In [2]:
import pandas as pd
import numpy as np

## Basic operations with dataframes

### Select: column

### Select: subset

### Get the unique values ​​of a column

`df.column.unique()`

`df.column.value_counts()`

## Filtering

### by the value of the columns

`watch out for | symbol`

### df.loc & df.iloc

`df.iloc[rows, columns]`

#### Based on label: `loc`

The loc method can be used in two different ways: select rows or columns based on a label, or select rows or columns based on a condition.

#### Based on index:  `iloc`

The iloc method is used on DataFrames to select elements based on their location. Its syntax is data.iloc[<filas>, <columnas>], where <filas> and <columnas> are the position of the rows and columns that you want to select in the order that they appear in the object. A familiar notation for Matlab users. In a DataFrame, each of the rows has a number that goes from 0 to the total number of rows minus one. Being iloc the method that allows selecting the data based on these numbers. The same applies to columns.

In iloc there are two arguments rows and columns. In case the second is omitted, all columns in the row will be selected. So to select different rows can be used.

loc syntax with multiple conditions
```python
df.loc[(df["column"] condition) & (df["column"] condition)]
````

### Rename columns

#### Rename columns

`.rename(dict_)`

The rename method allows me to rename only the columns that I want, the ones that are in the dictionary. No need to rename all at once

`overwriting attributes`: Requires a list with the same number of columns

### Change the data type of a column

### Copy a dataframe

## deleting

### delete columns

### delete rows

Rows can also be deleted. Note that the indexes are not reset. The index is associated with the row, not the order.
Can the index be restarted? Correct

## working with the index

We read the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) to understand some parameters

`set_index`

`reset_index`

What can we use to have the date as an index?
We will see it later, to analyze temporary series

In [89]:
# index: unique
# an order
# maybe  before passing it to new libraries

## Operations between columns

### creating columns

`as the result of an operation between other columns`

### apply: mapping a function to columns / rows

`apply to a pd.Series`

Applies a function along an axis of the DataFrame.
[Read the docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

When I do an apply on a column, even though I use a lambda, I don't put axis because in the case below, what I'm doing is modifying a column, I use lambda to tell the apply that the first argument is a string that comes from outside and the second argument is the dataframe's own record.

`apply to a df`: watch for axis arg

`lambda & defined function`

`pass two arguments`: one from column, another one from me

## Deleting the duplicates

[Read the docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)

`duplicated()`

`drop_duplicates()`

```python
for row, series in df.iterrows():
    print(series['T1'], series['T2'],series['T3'])
```

`keep`: False, first/last

## Null values

#### It is null?

`pd.isna()` == `pd.isnull()`

#### Is NOT null?

#### Sum the null values ​​of each column

### delete null values
There are several ways to do this, we take into account the "how" parameter and of course [the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

`Dropping missing values where all are missing values`

`Dropping missing values where there's ANY`

`how`: any

With "any" (parameter that comes by default so be careful not to put anything) all the records in which there is a NaN in any column are deleted

`how`: all

`thresh`: int

### How to fill in the missing data

How about a little [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)?

`fillna`

## Export data

`to_csv`

`to_json`

**REMINDER:** `inplace=True` if for method to modify the DF, otherwise you need to save it into a new variable.

# EXERCISE 📝

1. **READ** the sperstore.csv dataset from the datasets folder

In [20]:
# your code here
df = pd.read_csv("../datasets/superstore.csv")
df["Customer Name"].unique()

array(['Claire Gute', 'Darrin Van Huff', "Sean O'Donnell",
       'Brosina Hoffman', 'Andrew Allen', 'Irene Maddox', 'Harold Pawlan',
       'Pete Kriz', 'Alejandro Grove', 'Zuschuss Donatelli', 'Ken Black',
       'Sandra Flanagan', 'Emily Burns', 'Eric Hoffmann',
       'Tracy Blumstein', 'Matt Abelman', 'Gene Hale', 'Steve Nguyen',
       'Linda Cazamias', 'Ruben Ausman', 'Erin Smith', 'Odella Nelson',
       "Patrick O'Donnell", 'Lena Hernandez', 'Darren Powers',
       'Janet Molinari', 'Ted Butterfield', 'Kunst Miller',
       'Paul Stevenson', 'Brendan Sweed', 'Karen Daniels',
       'Henry MacAllister', 'Joel Eaton', 'Ken Brennan',
       'Stewart Carmichael', 'Duane Noonan', 'Julie Creighton',
       'Christopher Schild', 'Paul Gonzalez', 'Gary Mitchum', 'Jim Sink',
       'Karl Braun', 'Roger Barcio', 'Parhena Norris', 'Katherine Ducich',
       'Elpida Rittenbach', 'Rick Bensley', 'Gary Zandusky',
       'Lena Cacioppo', 'Janet Martin', 'Pete Armstrong', 'Cynthia Voltz',
       'Clay Ludtke', 'Ryan Crowe', 'Dave Kipp', 'Greg Guthrie',
       'Steven Cartwright', 'Alan Dominguez', 'Philip Fox',
       'Troy Staebel', 'Lindsay Shagiari', 'Dorothy Wardle',
       'Lena Creighton', 'Jonathan Doherty', 'Sally Hughsby',
       'Sandra Glassco', 'Helen Andreada', 'Maureen Gastineau',
       'Justin Ellison', 'Tamara Willingham', 'Stephanie Phelps',
       'Neil Knudson', 'Dave Brooks', 'Nora Paige', 'Ted Trevino',
       'Eric Murdock', 'Ruben Dartt', 'Max Jones', 'Becky Martin',
       'Chad Sievert', 'Jennifer Braxton', 'Shirley Jackson', 'Jim Kriz',
       'David Kendrick', 'Robert Marley', 'Sally Knutson', 'Frank Merwin',
       'Alice McCarthy', 'Mark Packer', 'Mary Zewe', 'Cassandra Brandow',
       'Valerie Mitchum', 'Fred Hopkins', 'Maria Bertelson',
       'Bruce Stewart', 'Logan Currie', 'Heather Kirkland',
       'Laurel Elliston', 'Joseph Holt', 'Michael Stewart',
       'Victoria Wilson', 'Jonathan Howell', 'Joni Blumstein',
       'David Smith', 'Valerie Dominguez', 'Erin Ashbrook',
       'David Bremer', 'Ken Lonsdale', 'Dianna Wilson',
       'Logan Haushalter', 'Kelly Collister', 'Delfina Latchford',
       'Dan Reichenbach', 'Craig Carreira', 'Dorris liebe',
       'Sean Braxton', 'Roy Collins', 'Alan Hwang', 'Claudia Bergmann',
       'Christine Abelman', 'Kristen Hastings', 'Barry Blumstein',
       'Andrew Gjertsen', "Jas O'Carroll", 'Alan Haines', 'Nick Zandusky',
       'Kelly Lampkin', 'Alan Schoenberger', 'Corey Roper',
       'Shahid Hopkins', 'Ben Peterman', 'Thomas Seio', 'Andy Gerbode',
       'Sung Pak', 'Nathan Mautz', 'Frank Atkinson', 'Grace Kelly',
       'Don Jones', "Patrick O'Brill", 'John Lucas', 'Doug Bickford',
       'Alyssa Crouse', 'Clay Cheatham', 'Tamara Dahlen',
       'Adam Bellavance', 'Jeremy Lonsdale', 'Victoria Brennan',
       'Katrina Willman', 'Julia Dunbar', 'Michael Kennedy',
       'Guy Thornton', 'Arthur Gainer', 'Muhammed MacIntyre',
       'Allen Rosenblatt', 'Russell Applegate', 'Alejandro Savely',
       'Laura Armstrong', 'Denny Ordway', 'Dean Katz', 'Nathan Gelder',
       'Mike Vittorini', 'Jack Garza', 'Bart Pistole', 'Victor Preis',
       'Saphhira Shifley', 'Anna Gayman', 'Luke Foster',
       'Roy Französisch', 'Keith Herrera', 'Kimberly Carter',
       'Caroline Jumper', 'Philip Brown', 'Michael Paige',
       'Natalie Fritzler', 'Shirley Daniels', 'Ken Heidel', 'Ross Baird',
       'Mike Kennedy', 'Philisse Overcash', 'Brenda Bowman',
       'Troy Blackwell', 'Raymond Buch', 'Ed Braxton', 'Sanjit Chand',
       'Tanja Norvell', 'Joni Sundaresam', 'Maya Herman', 'Jeremy Pistek',
       'Jeremy Ellison', 'John Grady', 'Xylona Preis', 'Erin Mull',
       'Michelle Tran', 'Sue Ann Reed', 'Carl Weiss', 'Astrea Jones',
       'Sonia Sunley', "Rose O'Brian", 'Maribeth Dona', 'Maribeth Yedwab',
       'Christopher Martinez', 'Lynn Smith', 'Bradley Nguyen',
       'Dean Braden', 'Matt Connell', 'Brian Dahlen', 'Patricia Hirasaki',
       'Mike Gockenbach', 'Karen Bern', 'Jasper Cacioppo', 'Rob Lucas',
       'Allen Armold', 'Emily Phan', 'Darren Koutras', 'Bradley Drucker',
       'Liz MacKendrick', 'Adrian Shami', 'Bill Donatelli', 'Greg Tran',
       'Ashley Jarboe', 'Olvera Toch', 'Liz Pelletier', 'Cynthia Arntzen',
       'Jeremy Farry', 'Frank Preis', 'Ellis Ballard',
       'Jennifer Ferguson', 'Sarah Foster', 'Trudy Glocke',
       'Carlos Soltero', 'Charles Crestani', 'Dianna Vittorini',
       'Bruce Degenhardt', 'Zuschuss Carroll', 'Melanie Seite',
       'Lena Radford', 'Theone Pippenger', 'Chloris Kastensmidt',
       'Alan Shonely', 'Andrew Roberts', 'Nona Balk', 'Giulietta Dortch',
       'Clytie Kelty', 'Nat Gilpin', 'Christina Anderson',
       'Sylvia Foulston', "Meg O'Connel", 'Annie Thurman', 'Fred McMath',
       'Denny Joy', 'Max Engle', 'Justin Deggeller', 'John Lee',
       'Sean Christensen', 'Chuck Clark', 'Anthony Rawles',
       'Steven Roelle', 'Craig Reiter', 'Eugene Hildebrand',
       'Sibella Parks', 'Tiffany House', 'Resi Pölking', 'Rob Beeghly',
       'Carol Darley', 'Doug Jacobs', 'Grant Thornton', 'Michael Chen',
       'Ralph Arnett', 'Naresj Patel', 'Alan Barnes', 'Jesus Ocampo',
       'Jay Kimmel', 'Brad Norvell', 'David Philippe', 'Tracy Hopkins',
       'Arthur Prichep', 'Roland Schwarz', 'Seth Vernon',
       'Christine Kargatis', 'Ross DeVincentis', 'Mathew Reese',
       'Steve Chapman', 'Jay Fein', 'Emily Grady', 'Darrin Sayre',
       'Phillina Ober', 'Sung Shariari', 'Peter Bühler', 'Roland Fjeld',
       'Yoseph Carroll', 'Debra Catini', 'Christine Phan',
       'Barry Französisch', 'Lisa Hazard', 'Chris Selesnick',
       'Anthony Johnson', 'Benjamin Venier', 'Dan Lawera', 'Bryan Mills',
       'Liz Thompson', 'Joe Kamberova', 'Erica Smith', 'Rick Hansen',
       'Carlos Daly', 'Helen Wasserman', 'Mike Caudle', 'Gary McGarr',
       'Pauline Johnson', 'Bart Watters', 'Toby Ritter',
       'Patrick Gardner', 'James Lanier', 'Brian Moss', 'Eudokia Martin',
       'Art Foster', 'Guy Armstrong', 'Cyma Kinney', 'Dave Poirier',
       'Berenike Kampe', 'Sanjit Jacobs', 'Chuck Magee', 'Anthony Jacobs',
       'Linda Southworth', 'Guy Phonely', 'Paul Knutson',
       'Sally Matthias', 'Anthony Garverick', 'Peter McVee',
       'Lauren Leatherbury', 'Jill Stevenson', 'Ed Ludwig',
       'Pamela Coakley', 'Hunter Lopez', 'Maribeth Schnelling',
       'George Bell', 'Justin Ritter', 'Bill Eplett', 'Sample Company A',
       'Rob Williams', 'Sanjit Engle', 'Adam Hart', 'Jessica Myrick',
       'Joel Jenkins', 'Ralph Kennedy', 'Catherine Glotzbach',
       'Rachel Payne', 'Karen Carlisle', 'Katherine Hughes',
       'Greg Hansen', 'Scott Williamson', 'Joseph Airdo', 'Daniel Lacy',
       'Lindsay Williams', 'Thomas Brumley', 'Bryan Spruell',
       'Robert Waldorf', 'Tracy Zic', 'Ann Steele', 'Toby Swindell',
       'Sara Luxemburg', 'Mitch Willingham', 'Rob Dowd', 'Ryan Akin',
       'Meg Tillman', 'Vivek Gonzalez', 'John Stevenson', 'Kalyca Meade',
       'Hallie Redmond', 'Deanra Eno', 'Allen Goldenen',
       'Jennifer Jackson', 'Jennifer Halladay', 'Robert Dilbeck',
       "Mary O'Rourke", 'Noel Staavos', 'Deirdre Greer', 'Nicole Fjeld',
       'Matthew Grinstein', 'Theresa Swint', 'Brian DeCherney',
       'Charles McCrossin', 'Skye Norling', 'Erica Hernandez',
       'Frank Olsen', 'Maurice Satty', 'Chad Cunningham', 'Don Weiss',
       'Bill Tyler', 'Craig Yedwab', 'Brad Thomas', 'Penelope Sewall',
       'Paul Van Hugh', 'Neoma Murray', 'Dionis Lloyd',
       'Christine Sundaresam', 'Frank Hawley', 'Nat Carroll',
       'Alex Avila', 'Larry Tron', 'Anne Pryor', 'Paul MacIntyre',
       'Alyssa Tate', 'Cathy Armstrong', 'Harold Ryan', 'Bradley Talbott',
       'Larry Hughes', 'Steven Ward', 'Stefania Perrino', 'Ben Ferrer',
       'Kean Thornton', 'Brooke Gillingham', 'Greg Matthias',
       'Eva Jacobs', 'Nora Preis', 'Mick Hernandez', 'Jocasta Rupert',
       'Suzanne McNair', 'Chris Cortes', 'Phillip Flathmann',
       'Dan Campbell', 'Bryan Davis', 'Gene McClure', 'Todd Boyes',
       'Justin Hirsh', 'Erica Bern', 'Quincy Jones', 'Tracy Collins',
       'Chuck Sachs', 'Henry Goldwyn', 'Laurel Workman', 'Matt Collins',
       'Liz Preis', 'Evan Bailliet', 'George Zrebassa', 'Cathy Prescott',
       'Frank Gastineau', 'Lisa DeCherney', 'Alejandro Ballentine',
       'Michael Nguyen', 'Jim Radford', 'Jamie Frazer', 'Chad McGuire',
       'Aaron Smayling', 'Beth Paige', 'Natalie DeCherney',
       'Larry Blacks', 'Kean Takahito', 'Harry Marie', 'Ann Blume',
       'Sam Zeldin', 'Michael Granlund', 'Julie Kriz', 'Paul Prost',
       'Yana Sorensen', 'Katherine Murray', 'Adrian Barton',
       'Helen Abelman', 'Beth Thompson', 'Stuart Van', 'Rick Wilson',
       'Damala Kotsonis', 'Shui Tom', 'Michael Moore', 'Pauline Webber',
       'Shaun Chance', 'Thais Sissman', 'Mark Cousins', 'Maria Etezadi',
       'Nicole Hansen', 'Mick Brown', 'Keith Dawkins',
       'Katherine Nockton', 'Nora Pelletier', 'Cindy Stewart',
       'Maxwell Schwartz', 'Corinna Mitchell', 'Corey-Lock',
       'Todd Sumrall', 'Jane Waco', 'John Dryer', 'Pauline Chand',
       'Andy Reiter', 'Arianne Irving', 'Tom Boeckenhauer', 'Paul Lucas',
       'Gary Hwang', 'Mike Pelletier', 'Jim Mitchum', 'Carl Ludwig',
       'Deborah Brumfield', 'Ivan Gibson', 'Bobby Odegard', 'Aimee Bixby',
       'Julia West', 'Edward Becker', 'Sheri Gordon', 'Charlotte Melton',
       'Anthony Witt', 'Mick Crebagga', 'Tonja Turnell', 'Vivek Grady',
       'Muhammed Yedwab', 'Rick Duston', 'Dennis Pardue',
       'Marina Lichtenstein', 'Jenna Caffey', 'James Galang',
       'Marc Crier', 'Natalie Webber', 'Toby Braunhardt', 'Bill Stewart',
       'Hilary Holden', 'Christina DeMoss', 'Thea Hendricks',
       'Michelle Moray', 'Neola Schneider', 'Robert Barroso',
       'Shaun Weien', 'Eric Barreto', 'Pamela Stobb', 'Herbert Flentye',
       'Henia Zydlo', 'Cynthia Delaney', 'Jamie Kunitz', 'Filia McAdams',
       'Emily Ducich', 'Dianna Arnett', 'Joni Wasserman', 'Raymond Messe',
       'Max Ludwig', 'Craig Carroll', 'Jim Epp', 'Roy Phan',
       'Thomas Boland', 'Brad Eason', 'Jill Fjeld', 'Phillip Breyer',
       'Brian Thompson', 'Janet Lee', 'Cathy Hwang', 'Neil Ducich',
       'Barbara Fisher', 'Katharine Harms', 'Giulietta Weimer',
       'Noah Childs', 'Michelle Ellison', 'Benjamin Patterson',
       'John Castell', 'Adam Shillingsburg', 'Amy Cox',
       'Michael Dominguez', 'Duane Benoit', 'Erica Hackney',
       'Edward Hooks', 'Scot Coram', 'Joe Elijah', 'Ann Chong',
       'Joy Daniels', 'Christy Brittain', 'Joy Smith', 'Luke Weiss',
       'Stuart Calhoun', 'Anne McFarland', 'Rick Huthwaite',
       'Carol Triggs', 'Matt Collister', 'Corey Catlett',
       'Kelly Andreada', 'Tamara Chand', 'Bart Folk', 'Magdelene Morse',
       'Adrian Hane', 'Ben Wallace', 'Scot Wooten', 'Brian Stugart',
       'Randy Ferguson', 'William Brown', 'Trudy Brown', 'Art Ferguson',
       'Richard Bierner', 'Karen Ferguson', 'John Huston', 'Ivan Liston',
       'Patrick Bzostek', 'Rob Haberlin', 'Arthur Wiediger',
       'Maris LaWare', 'Dorothy Badders', 'Matt Hagelstein',
       'Dennis Kane', 'Bobby Trafton', 'Denny Blanton', 'Toby Gnade',
       'Barry Franz', 'Justin MacKendrick', 'Maria Zettner',
       'Mitch Webber', 'Mark Van Huff', 'Sean Miller', 'Tom Prescott',
       'Jim Karlsson', 'Patrick Jones', 'Ricardo Sperren',
       'Susan Vittorini', 'Becky Castell', 'Elizabeth Moffitt',
       'Brendan Murry', 'Kristina Nunn', 'Kelly Williams', 'Scott Cohen',
       'Christina VanderZanden', 'Speros Goranitis', 'Tamara Manning',
       'Eleni McCrary', 'Michelle Lonsdale', 'Clay Rozendal',
       'Annie Zypern', 'Pierre Wener', 'Shahid Collister',
       'Carlos Meador', 'Greg Maxwell', 'Tim Brockman', 'John Murray',
       'Sonia Cooley', 'Luke Schmidt', 'Ralph Ritter', 'Daniel Byrd',
       'Thomas Thornton', 'Lori Olson', 'Ken Dana', 'Nicole Brennan',
       'Brian Derr', 'Chris McAfee', 'Edward Nazzal', 'Kean Nguyen',
       'Bill Overfelt', 'Aleksandra Gannaway', 'Matthew Clasen',
       'Tom Ashbrook', 'Jason Fortune-', 'Tim Taslimi', 'Sarah Bern',
       'Craig Leslie', 'Hunter Glantz', 'Nancy Lomonaco', 'Rick Reed',
       'Toby Carlisle', 'Stewart Visinsky', 'Bobby Elias',
       'Steve Carroll', 'David Flashing', 'Fred Harton', 'MaryBeth Skach',
       'Ritsa Hightower', 'George Ashbrook', 'Julie Prescott',
       'Dean percer', 'Michael Oakman', 'Denise Leinenbach',
       'Michelle Huthwaite', 'Daniel Raglin', 'Darrin Martin',
       'Carol Adams', 'Anna Chung', 'Denise Monton', 'Vicky Freymann',
       'Christopher Conant', 'Beth Fritzler', 'Harry Greene', 'Becky Pak',
       'Eugene Moren', 'Michelle Arnett', 'Andy Yotov',
       'Giulietta Baptist', 'Julia Barnett', 'Michael Grace',
       'Sharelle Roach', 'Joy Bell-', 'Dario Medina', 'Tony Chapman',
       'Sean Wendt', 'Richard Eichhorn', 'Benjamin Farhat',
       'Katrina Bavinger', 'Jason Gross', 'Erin Creighton',
       'Eugene Barchas', 'Jennifer Patt', 'Cari Sayre', 'Gary Hansen',
       'Pete Takahito', 'Jack Lebron', 'Aaron Hawkins', 'Cindy Chapman',
       'David Wiener', 'Sarah Jordon', 'Bruce Geld', 'Laurel Beltran',
       'Candace McMahon', 'Evan Henry', 'Tony Sayre', 'Patrick Ryan',
       'Liz Carlisle', 'Cindy Schnelling', 'Dave Hallsten',
       "Jack O'Briant", 'Anna Häberlin', 'Heather Jas', 'Mark Hamilton',
       "Russell D'Ascenzo", 'Sam Craven', 'Stephanie Ulpright',
       'Fred Chung', 'Randy Bradley', 'Nick Crebassa', 'Darren Budd',
       'Maureen Fritzler', 'Roland Murray', 'Vivian Mathis', 'Ed Jacobs',
       'Nathan Cano', 'Lycoris Saunders', 'Katrina Edelman',
       'Duane Huffman', 'Peter Fuller', 'Valerie Takahito',
       'Maureen Gnade', 'Susan Pistek', 'Charles Sheldon', 'Dana Kaydos',
       'Khloe Miller', 'Anna Andreadi', 'Dorothy Dickinson', 'Amy Hunt',
       'Tracy Poddar', 'Eileen Kiefer', 'Cyra Reiten', 'Susan Gilcrest',
       'Angele Hood', 'Neil Französisch', 'Bill Shonely',
       'Stefanie Holloman', 'Roger Demir', 'Alex Grayson',
       'Georgia Rosenberg', 'Vivek Sundaresam', 'Tony Molinari',
       'Tom Stivers', 'Dennis Bolton', 'Nick Radford', 'Cari Schnelling',
       'Monica Federle', 'Liz Willingham', 'Alex Russell', 'Karen Seio',
       'Aaron Bergman', 'Lisa Ryan', 'Shahid Shariari', 'Jill Matthias',
       'Jason Klamczynski', 'Don Miller', 'Muhammed Lee', 'Marc Harrigan',
       'Frank Carlisle', 'Thea Hudgings', 'Juliana Krohn', 'Sarah Brown',
       'Barry Gonzalez', 'Barry Weirich', 'Mitch Gastineau',
       "Doug O'Connell", 'Barry Pond', 'Trudy Schmidt', 'Evan Minnotte',
       "Anthony O'Donnell", 'Mark Haberlin', 'Shirley Schmidt',
       'Lela Donovan', 'Victoria Pisteka', 'Theresa Coyne',
       'Ionia McGrath', 'Anemone Ratner', 'Craig Molinari',
       'Fred Wasserman', 'Lindsay Castell', 'Harold Engle',
       'Brendan Dodson', 'Harold Dahlen', 'Carl Jackson', 'Roy Skaria',
       'Sung Chung', 'Ricardo Emerson', 'Susan MacKendrick'], dtype=object)

2. **RENAME** the columns: make them all into lower case AND substitute spaces for inderscores. Eg.: "Order ID" -> "order_id"

In [ ]:
# your code here

3. **DROP** the Row ID column

In [ ]:
# your code here

4. **FILTER** the dataset where the customer is: Roy Französisch

In [12]:
# your code here

5. **CREATE a SUBSET** of the dataframe with the columns: Ship Mode, Customer Name, Segment, Country, Category, Profit

In [13]:
# your code here

6. **CALCULATE** the SUM of the profit: it should be a formatted print() the says "Roy Französisch amounted a total profit of X $".

In [14]:
# your code here

8. **EXPORT** the csv with the name: customer_example.csv

In [15]:
# your code here

7. **DEFINE** (ENCAPSULATE) into a FUNCTION
    - Function name: profit_per_customer
    - Function args: name, string. the name of the customer to filter by
        - to do this, you will have to change the line where you filter to change the literal "Roy Französisch" for name
        - also change it in the formatted print
    - Function return: it should return the df

In [ ]:
# your code here

8. **CALL**: `df_claire = profit_per_customer("Roy Französisch")`

In [ ]:
# your code here

9. **Run**: `df_claire`

In [ ]:
# your code here

10. **Re-use your own function**: how much did Erica Smith amounted in profit? Make sure you save it into a variable named `df_erica_smith`

## Pandas usual methods
```python
df.head() # prints the head, default 5 rows
df.tail() # set the tail, default 5 rows
df.describe() # statistical description
df.info() # df information
df.columns # show column
df.index # show index
df.dtypes # show column data types
df.plot() # make a plot
df.hist() # make a histogram
df.col.value_counts() # counts the unique values ​​of a column
df.col.unique() # returns unique values ​​from a column
df.copy() # copies the df
df.drop() # remove columns or rows (axis=0,1)
df.dropna() # remove nulls
df.fillna() # fills nulls
df.shape # dimensions of the df
df._get_numeric_data() # select numeric columns
df.rename() # rename columns
df.str.replace() # replace columns of strings
df.astype(dtype='float32') # change the data type
df.iloc[] # locate by index
df.loc[] # locate by element
df.transpose() # transposes the df
df.T
df.sample(n, frac) # sample from df
df.col.sum() # sum of a column
df.col.max() # maximum of a column
df.col.min() # minimum of one column
df[col] # select column
df.col
df.isnull() # null values
df.isna()
df.notna() # not null values
df.drop_duplicates() # remove duplicates
df.reset_index(inplace=True) # reset the index and overwrite
```

## Further materials

* [Read the docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Exercises to practice](https://github.com/guipsamora/pandas_exercises)
* [More on merge, concat, and join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). And [even more!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)
* [Categories on df](https://runebook.dev/en/docs/pandas/user_guide/categorical)