![Flos Mariae](https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2023/03/07/16781451615938.jpg)

Some catholic pop to get into the mood: [Flos Mariae - AmÃ©n](https://www.youtube.com/watch?v=viQOBLF3AcY&themeRefresh=1)

The girls in Flos Mariae need your help. Their study sheets are incomplete and teachers told them to `google it` when they asked about verses. Help them complete their data.

[Bible API](https://github.com/seven1m/bible_api)

[Bible documentation](https://bible-api.com/)

In [16]:
"""
Goals

- API that receives parameters
- From a given dataframe (necesitamos encontrar uno), crear una columna nueva segÃºn parÃ¡metros
- Acabar con un dataframe modificado
- Encapsulado
"""

'\nGoals\n\n- API that receives parameters\n- From a given dataframe (necesitamos encontrar uno), crear una columna nueva segÃºn parÃ¡metros\n- Acabar con un dataframe modificado\n- Encapsulado\n'

#Â Import the necessary libraries: pandas & requests

In [17]:
import requests
import pandas as pd

#Â Load the .csv file on `data/` folder

These are the incomplete study sheets of the Flos Mariae sisters. ðŸ‘€ They know the references they need (book, chapter and verse) but lack the text information.

In [24]:
df = pd.read_csv("../data/bible_2.csv")
df.head()

      Name                Role     Book  Chapter  Verse
0     Adam           First Man  Genesis        1      1
1      Eve         First Woman  Genesis       22      5
2     Noah  Builder of the Ark  Genesis       12     10
3  Abraham   Father of Nations  Genesis        6     15
4    Sarah     Wife of Abraham  Genesis       28      2

#Â Go on to this website: [Bible API documentation](https://bible-api.com/). Read the usage and given examples.

## Build the `url_for_request` for a single reference: book, chapter and verse. This will be the result of: reading the API documentation ðŸ™ƒ.

Hint: there's a `base_url` to which you need to add another `endpoint`. Call the resulting string `url_for_request`

In [34]:
base_url = 'https://bible-api.com/'

In [35]:
endpoint = 'Genesis 1:1'

In [36]:
url_for_request = base_url + endpoint

In [37]:
res = requests.get(url_for_request)
res

In [39]:
data = res.json()
data

{'reference': 'Genesis 1:1',
 'verses': [{'book_id': 'GEN',
   'book_name': 'Genesis',
   'chapter': 1,
   'verse': 1,
   'text': 'In the beginning, God created the heavens and the earth.\n'}],
 'text': 'In the beginning, God created the heavens and the earth.\n',
 'translation_id': 'web',
 'translation_name': 'World English Bible',
 'translation_note': 'Public Domain'}

# Great! ðŸ’¥ We have some information. Now, we want to clean it up to get only the text that corresponds to the reference we are looking for.

In [41]:
text = data['text']
text_cleaned = text.replace('\n', '')
text_cleaned

'In the beginning, God created the heavens and the earth.'

# Now we want to obtain the information of all the necessary references in the study sheets.

Hint: book, chapter and verse `actual columns` will be the `argument` to pass to the endpoint of the url_for_request. The `text results` from the API call, will be a `new column` of the dataframe.

In [42]:
def get_response(book, chapter, verse):
    """
    This function retrieves a specific Bible verse from an API.
    
    Parameters:
    - book_name: name of the book in the Bible
    - chapter: chapter number
    - verse: verse number
    """
    base_url = 'https://bible-api.com/'
    endpoint = f'{book} {chapter}:{verse}'
    url_for_request = base_url + endpoint
    res = requests.get(url_for_request)
    
    if res.status_code == 200:
        data = res.json()
        text = data['text']
        text_cleaned = text.replace('\n', '')
        return text
    else:
        return "Request did not work properly"

In [43]:
df['Text'] = df.apply(lambda row: get_response(row['Book'], row['Chapter'], row['Verse']), axis=1)

In [44]:
df

,Name,Role,Book,Chapter,Verse,Text
0,Adam,First Man,Genesis,1,1,"In the beginning, God created the heavens and ..."
1,Eve,First Woman,Genesis,22,5,"Abraham said to his young men, â€œStay here with..."
2,Noah,Builder of the Ark,Genesis,12,10,There was a famine in the land. Abram went dow...
3,Abraham,Father of Nations,Genesis,6,15,This is how you shall make it. The length of t...
4,Sarah,Wife of Abraham,Genesis,28,2,"Arise, go to Paddan Aram, to the house of Beth..."
5,Moses,Leader of the Exodus,Exodus,2,3,"When she could no longer hide him, she took a ..."
6,Aaron,Brother of Moses,Exodus,13,8,"You shall tell your son in that day, saying, â€˜..."
7,David,King of Israel,1 Samuel,8,4,Then all the elders of Israel gathered themsel...
8,Solomon,Wisest Man,Proverbs,12,9,"Better is he who is little know, and has a ser..."
9,Isaiah,Prophet,Isaiah,4,6,There will be a pavilion for a shade in the da...
10,Jeremiah,Prophet,Jeremiah,3,16,"It will come to pass, when you are multiplied ..."
11,John the Baptist,Forerunner of Jesus,Matthew,12,5,"\nOr have you not read in the law, that on the..."
12,Jesus Christ,Son of God,Matthew,5,10,\nBlessed are those who have been persecuted f...
13,Mary,Mother of Jesus,Luke,6,15,"Matthew; Thomas; James, the son of Alphaeus; S..."
14,Peter,Apostle,Matthew,4,2,When he had fasted forty days and forty nights...
15,Andrew,Apostle,Matthew,3,3,Request did not work properly
16,James the Greater,Apostle,Matthew,5,8,Request did not work properly
17,John the Evangelist,Apostle,John,3,4,Request did not work properly
18,Philip,Apostle,Matthew,6,9,Request did not work properly
19,Thomas,Apostle,Matthew,4,6,Request did not work properly
20,James the Lesser,Apostle,Matthew,18,9,Request did not work properly
21,Jude Thaddeus,Apostle,Matthew,9,12,Request did not work properly
22,Simon the Zealot,Apostle,Matthew,27,3,Request did not work properly
23,Bartholomew,Apostle,Matthew,6,2,Request did not work properly

#Â Save the dataframe into the data folder.

Make sure you don't get that unnamed: 0 column. Hint: https://stackoverflow.com/questions/36519086/how-to-get-rid-of-unnamed-0-column-in-a-pandas-dataframe-read-in-from-csv-fil

In [ ]:
# df.to_csv('lab-apis/data/bible_2_completed.csv', index = False)