# Import the necessary libraries: pandas, requests & getpass.

In [1]:
import requests
import pandas as pd
import getpass

# Go on to this website: [Tomorrow API documentation - Weather Forecast](https://docs.tomorrow.io/reference/weather-forecast). Read the documentation and the usage. 🙃

Be aware of API request limits.  ⚠️

![image](../api_limit_requests.png)

#  After exploring how the API works. Generate a token and store it in a `'token'` variable using getpass. 🔐

In [2]:
token = getpass.getpass("Enter your token: ")

Enter your token: ········

# Now, choose the location where you want to browse the Weather Forecast and store it in a variable called ``location``. 📍

In [3]:
location = "madrid"

# The next step is to build the `url_for_request`.  You must parameterise it with your `location` and your `token`.

In [4]:
url = f"https://api.tomorrow.io/v4/weather/history/recent?location={location}&apikey={token}"

# It's time to call the API. 📞 We need to get the weather forecast information for the chosen location.

In [5]:
def get_weather_response (location, token):
    url = f"https://api.tomorrow.io/v4/weather/history/recent?location={location}&apikey={token}"
    headers = {"accept": "application/json"}
    res = requests.get(url, headers=headers)
    return res.json()

In [8]:
data = get_weather_response (location, token)
#data

# Last step will be to turn it into a Dataframe! 🐼

The result should look like:

![image](../challenge_2_df_example.png)

In [9]:
all_data = []
def get_responses_into_df (data):

    for element in data:
        response = data['timelines']['hourly']
        location = data['location']['name']
        for entry in response:
            data_dict = entry['values']
            data_dict['time'] = entry['time']
            all_data.append(data_dict)
            
    df = pd.DataFrame(all_data)
    df['location'] = data['location']['name']
    
    return df

In [11]:
df = get_responses_into_df (data)
df.head()

,cloudBase,cloudCeiling,cloudCover,dewPoint,evapotranspiration,freezingRainIntensity,humidity,iceAccumulation,iceAccumulationLwe,precipitationProbability,...,temperatureApparent,uvHealthConcern,uvIndex,visibility,weatherCode,windDirection,windGust,windSpeed,time,location
0,0.38,0.38,72,14.00,0.140,0,82,0,0.0,0,...,17.13,1,2,9.70,1102,221.63,17.19,9.63,2023-10-26T11:00:00Z,"Madrid, Comunidad de Madrid, España"
1,0.30,0.30,72,14.38,0.184,0,86,0,0.0,0,...,16.88,1,2,8.10,1102,216.81,14.31,7.63,2023-10-26T12:00:00Z,"Madrid, Comunidad de Madrid, España"
2,0.23,0.23,75,15.19,0.140,0,89,0,0.0,0,...,17.00,0,1,9.26,1001,217.13,15.13,5.38,2023-10-26T13:00:00Z,"Madrid, Comunidad de Madrid, España"
3,0.49,0.49,75,14.19,0.171,0,78,0,NaN,0,...,18.00,0,0,11.35,1001,216.81,20.88,12.63,2023-10-26T14:00:00Z,"Madrid, Comunidad de Madrid, España"
4,0.39,0.39,60,14.38,0.038,0,82,0,0.0,0,...,17.63,0,0,9.42,1101,235.19,18.38,13.50,2023-10-26T15:00:00Z,"Madrid, Comunidad de Madrid, España"

# Save the dataframe into the data folder.

Make sure you don't get that unnamed: 0 column. Hint: https://stackoverflow.com/questions/36519086/how-to-get-rid-of-unnamed-0-column-in-a-pandas-dataframe-read-in-from-csv-fil

In [ ]:
# Your code here