<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#The-&quot;while&quot;-statement" data-toc-modified-id="The-&quot;while&quot;-statement-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>The "while" statement</a></span></li><li><span><a href="#Pass,--continue-&amp;-break" data-toc-modified-id="Pass,--continue-&amp;-break-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pass,  continue &amp; break</a></span></li><li><span><a href="#For" data-toc-modified-id="For-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>For</a></span><ul class="toc-item"><li><span><a href="#Iterate-through-strings" data-toc-modified-id="Iterate-through-strings-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Iterate through strings</a></span></li><li><span><a href="#Iterate-through-a-list" data-toc-modified-id="Iterate-through-a-list-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Iterate through a list</a></span></li><li><span><a href="#We-iterate-through-lists-over-their-index" data-toc-modified-id="We-iterate-through-lists-over-their-index-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>We iterate through lists over their index</a></span></li><li><span><a href="#Loop-through-two-lists-at-the-same-time" data-toc-modified-id="Loop-through-two-lists-at-the-same-time-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Loop through two lists at the same time</a></span></li><li><span><a href="#Iterate-over-the-elements-of-a-dictionary" data-toc-modified-id="Iterate-over-the-elements-of-a-dictionary-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Iterate over the elements of a dictionary</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

# Let's keep the flow going

![FLOW](https://media.giphy.com/media/h8y265b9iKtzKT0pDj/giphy.gif)

```
while loops
    - you dont know when it ends
    - condition
    
for loops
    - finite number
    - ends when iterable ends
```

In [11]:
balance = 100
cost = 9
counter = 0

# if condition that is continously running

while balance > cost: 
    balance -= cost
    counter += 1
    print(f"Current balance is: {balance} after transaction")

print(f"My balance is {balance} after {counter} purchases")

Current balance is: 91 after transaction
Current balance is: 82 after transaction
Current balance is: 73 after transaction
Current balance is: 64 after transaction
Current balance is: 55 after transaction
Current balance is: 46 after transaction
Current balance is: 37 after transaction
Current balance is: 28 after transaction
Current balance is: 19 after transaction
Current balance is: 10 after transaction
Current balance is: 1 after transaction
My balance is 1 after 11 purchases

In [13]:
print("My balance is " + str(balance) + "after " + str(counter) + " purchases")

My balance is 1after 11 purchases

In [8]:
print("My balance is ", balance, "after ", counter, " purchases")

My balance is  1 after  11  purchases

In [14]:
print(f"My balance is {balance} after {counter} purchases")

My balance is 1 after 11 purchases

In [ ]:
# watch out for infinite loops!!! -> stop the kernel

In [17]:
list_of_names = ["clara", "albert", "laura"] #all of it -> for
counter = 0

for name in list_of_names:
    counter += 1
    print(name.capitalize())
    
print("Number of times: ", counter) # to see how many times

Clara
Albert
Laura
Number of times:  3

In [ ]:
# counter, auxiliary variable

# enumerate
# zip
# range

In [19]:
for i in range(3):
    print(i)

0
1
2

In [20]:
list_of_names = ["clara", "albert", "laura"] 

for i in range(len(list_of_names)):
    print(list_of_names[i])
    
print("Number of times: ", counter)

clara
albert
laura
Number of times:  3

## The "while" statement

Sometimes we want to run a program until a condition is met. We can achieve this with the `while` clause.

**Note:** Beware of infinite recursions!

In the case of while True the expression will always evaluate to true by definition.
It would be equivalent to:

```python
as long as true is true:
    do something
   ````

🐒 - We write a program that asks the user for a letter between a and d forever until he enters one correctly.

In [27]:
# ask for input
# letters = ["a", "b", "c"]
# We want to get one of these three letteras
# Until we don't get one of them -> we're not gonna stop asking


# for loop?
# while loop?

# run until something happnes -> condition; not the end of the iterable

list_of_letters = ["a", "b", "c"]

letter = input("Please enter a letter: ")

while letter not in list_of_letters:
    # if happening many times
    letter = input("Please enter a letter that is correct: ")

Please enter a letter: f
Please enter a letter that is correct: f
Please enter a letter that is correct: f
Please enter a letter that is correct: a

## Pass,  continue & break
The pass statement does nothing. Can be used when a syntax statement is required but no action is required by the program (from the [docs](https://docs.python.org/3/tutorial/controlflow.html))


Although it may surprise us, it is useful in several situations. In Python we cannot have an undefined block of code (for example, the body of a function, the body of a condition, or the body of a loop). So it's common to use pass when we're writing the structure of our program but haven't yet tackled the implementation of certain blocks of code.

In [28]:
list_of_names = ["Clara", "Albert", "Laura"]

In [29]:
for i in list_of_names:
    print(i)

Clara
Albert
Laura

`pass`: ignores, does things and goes to next iteration

In [36]:
list_of_names = ["Clara", "Albert", "Laura"]
for i in list_of_names:
    if i.startswith("A"):
        pass # do nothing
    print(i)

Clara
Albert
Laura

In [44]:
def procrastinate ():
    #...
    pass #placeholder

In [43]:
# Regarding scope 
def procrastinate (): 
    variable = "lorem ipsum"
    return variable

print(variable) # error

NameError: name 'variable' is not defined

`continue`: stops and goes to next iteration

In [32]:
list_of_names = ["Clara", "Albert", "Laura"]
for i in list_of_names:
    if i.startswith("A"):
        continue #ignore move on to the next ITERATION / ELEMENT
    print(i)

Clara
Laura

`break` stops the loop

In [35]:
list_of_names = ["Clara", "Albert", "Laura"]
for i in list_of_names:
    if i.startswith("A"):
        break 
    print(i)

Clara

## For

It is very common to write a code with loops within these two possible situations:
- 1: When we use a counter within a repetition. The counter is a variable that increases or decreases constantly in each iteration of the loop until it reaches a limit value that marks the end of the repetitions.
- 2: When we iterate over the elements of a container, for example, a list, to operate on each one of them. Also in this case we know in advance the number of repetitions that will take place.

The For statement, in Python, allows you to iterate over sequences of values ​​(lists or strings) according to an established order. Unlike other languages, with Python's for you don't define counters or expressions that change at each iteration, but rather a sequence over which the counter variable will take its values. In any case, it is the most appropriate option to solve the two previous cases...let's give an example:

In [50]:
number = 56789

for num in number:
    print(num * 13) # You cannot loop numbers

TypeError: 'int' object is not iterable

In [55]:
number = 56789

for num in str(number):
    print(num * 40)

5555555555555555555555555555555555555555
6666666666666666666666666666666666666666
7777777777777777777777777777777777777777
8888888888888888888888888888888888888888
9999999999999999999999999999999999999999

In [52]:
# Q: Emma
number = 56789
whole_addition = 0  

for num in str(number):
    """
    First iteration:
        "5"
        5
        5 * 10
        50
        whole_addition = 0 + 50
        whole_addition = 50
    """

    multiplied_version = int(num) * 10
    whole_addition += multiplied_version

    print(whole_addition)

50
110
180
260
350

In [61]:
# Q: Patricia

number = 346666666656789
print(str(number)[:2])

34

In [63]:
list_of_names = ['Clara', 'Albert', 'Laura']

In [74]:
# Q: Javi
# Try not to name things the same

for name in list_of_names: # you're not refering to the "i", so _ does it.
    print("Hello!")
    
for name_2 in ["Bego", "Marina", "Laura"]:
    print(name_2)

# You can over write as many times
hello = "hi"
hello = "how are you"
hello = "sdljihugfdgv"
print(hello)

Hello!
Hello!
Hello!
Bego
Marina
Laura
sdljihugfdgv

In [ ]:
# javascript:
    # let i = 10, easier to change
    # const i = 10, more difficult to change

```
-- naming conventions for variables
CONSTANTS = 3.14
variable = 56789
variable_number_two = 56789
my_car = Car() # classes
```

In [79]:
list_of_names = ['Clara', 'Albert', 'Laura']

for _ in list_of_names:
    print("Hello!")

Hello!
Hello!
Hello!

The for statement, in Python, iterates over collections. So if we need a counter that increments on each iteration, Python provides the range() function, which generates lists of integers. This function allows to generate sequences and is quite versatile and we can invoke it in different ways:

- With a single argument: generates integers ranging from 0 to the previous one indicated as a parameter:

`range(int)`

In [80]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [82]:
for i in range(5, 16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

In [83]:
# even numbers zero to 20

for i in range(0, 21, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [84]:
# check if number is even
uneven = 13

if uneven % 2 == 0:
    print("It is even")
    
elif uneven % 2 != 0:
    print("It is uneven")

It is uneven

In [86]:
list_of_numbers = [27, 452, 2, 20, 90, 83, 489, 6]

new_list_even = []
new_list_uneven = []

for i in list_of_numbers:
    if i % 2 == 0:
        new_list_even.append(i)
    else:
        new_list_uneven.append(i)
        

print(new_list_even)
print(new_list_uneven)

[452, 2, 20, 90, 6]
[27, 83, 489]

- With two arguments. The first parameter is the initial value and the second the value below which the elements of the list must be:

`range(int, int)`

- With three arguments. Same as above, but the third parameter indicates the increment that occurs from one element to the next: `range(int, int, increment)`

### Iterate through strings

In [88]:
upper_string = string.upper()
upper_string

'TRDVBNMK'

In [91]:
string = "trdvbnmk"
new_string = ""

for i in string:
    new_string += i.upper()
print(new_string)

TRDVBNMK

In [95]:
string = "trdvb90n895m92khgv000087654"
# how many digits in this string?

counter = 0
for i in string:
    if i.isdigit():
        counter += 1
print(f"There is this amount of numbers: {counter}")

There is this amount of numbers: 16

In [104]:
nums = 19008987990007654
# how many ZEROS in this INT?

converted_into_string = str(nums)

counter = 0
for i in converted_into_string:
    print(f"The i is {i}")
    print(f"The type of i is {type(i)}")
    if i == "0":
        counter += 1
print(counter)

The i is 1
The type of i is <class 'str'>
The i is 9
The type of i is <class 'str'>
The i is 0
The type of i is <class 'str'>
The i is 0
The type of i is <class 'str'>
The i is 8
The type of i is <class 'str'>
The i is 9
The type of i is <class 'str'>
The i is 8
The type of i is <class 'str'>
The i is 7
The type of i is <class 'str'>
The i is 9
The type of i is <class 'str'>
The i is 9
The type of i is <class 'str'>
The i is 0
The type of i is <class 'str'>
The i is 0
The type of i is <class 'str'>
The i is 0
The type of i is <class 'str'>
The i is 7
The type of i is <class 'str'>
The i is 6
The type of i is <class 'str'>
The i is 5
The type of i is <class 'str'>
The i is 4
The type of i is <class 'str'>
5

### Iterate through a list

In [107]:
list_of_names = ['Clara', 'Albert', 'Laura']

In [108]:
for i in list_of_names:
    print(i)

Clara
Albert
Laura

In [111]:
list_of_names = ['Clara', 'Albert', 'Laura']

for i in list_of_names:
    position = list_of_names.index(i)
    print(f"{position}: {i}")

0: Clara
1: Albert
2: Laura

In [117]:
list_of_names = ['Clara', 'Albert', 'Laura']

for position in range(len(list_of_names)):
    name = list_of_names[position]
    print(f"{position}: {name}")

0: Clara
1: Albert
2: Laura

In [115]:
list_of_names = ['Clara', 'Albert', 'Laura']

for i in range(len(list_of_names)):
    print(f"{i}: {list_of_names[i]}")

0: Clara
1: Albert
2: Laura

### We iterate through lists over their index
- Built in functions --> https://docs.python.org/3/library/functions.html
- Enumerate doc --> https://book.pythontips.com/en/latest/enumerate.html

### Loop through two lists at the same time

I leave you the zip documentation, remember that it will not give an error if the lists are of different sizes but the last iteration will be that of the shortest list
[DOC](https://docs.python.org/3/library/functions.html)

In [118]:
list_of_names = ['Clara', 'Albert', 'Laura']
cities = ["Barcelona", "Mataró", "Mataró"]

In [123]:
# Clara: Barcelona
# Albert: Mataró....

list_of_names = ['Clara', 'Albert', 'Laura']
cities = ["Barcelona", "Mataró", "Mataró"]


for name, city in zip(list_of_names, cities):
    print(f"{name} is from: {city}")

Clara is from: Barcelona
Albert is from: Mataró
Laura is from: Mataró

In [124]:
# Q: Uri, what if it doesn't have the same length?

# Clara: Barcelona
# Albert: Mataró....

list_of_names = ['Clara', 'Albert', 'Laura']
cities = ["Barcelona", "Mataró"] # Third_option


for name, city in zip(list_of_names, cities):
    print(f"{name} is from: {city}")

Clara is from: Barcelona
Albert is from: Mataró

In [132]:
list_of_names = ('Clara', 'Albert', 'Laura') #tuple
cities = ["Barcelona", "Mataró", "Mataró"]
age = [25, 30, 27]


for name, city, age in zip(list_of_names, cities, age):
    print(f"{name} is from: {city}, age: {age}")

Clara is from: Barcelona, age: 25
Albert is from: Mataró, age: 30
Laura is from: Mataró, age: 27

In [138]:
list_of_names = ['Clara', 'Albert', 'Laura'] #tuple

for index, element in enumerate(list_of_names):
    print(f"{index}: {element}")

0: Clara
1: Albert
2: Laura

In [139]:
list_of_names = ('Clara', 'Albert', 'Laura') #tuple
cities = ["Barcelona", "Mataró", "Mataró"]
age = [25, 30, 27]


for position, (name, city, age) in enumerate(zip(list_of_names, cities, age)):
    print(f"{position}: {name} is from {city}, age: {age}")

0: Clara is from Barcelona, age: 25
1: Albert is from Mataró, age: 30
2: Laura is from Mataró, age: 27

In [141]:
albert = {
    "name": "Albert",
    "city": "Mataró",
    "age": 30
}

In [143]:
for i in albert.items():
    print(i)

('name', 'Albert')
('city', 'Mataró')
('age', 30)

In [148]:
for i in albert.keys():
    print(i)

name
city
age

In [147]:
for i in albert.values():
    print(i)

Albert
Mataró
30

In [150]:
for key, value in albert.items():
    print(key, value)b

name Albert
city Mataró
age 30

In [146]:
# error
for i in range(len(albert)):
    print(i)

0
1
2

In [152]:
dict_albert = {
    "name": "Albert",
    "city": "Mataró",
    "age": 30,
    "holidays": 20,
    "hobbies": ["padel", "reading", "beach"]
}

# hobbies with the length > 5

for i in dict_albert["hobbies"]:
    if len(i) > 5:
        print(i)

reading

`zip_longest`: what if I want to keep the longest list?

### Iterate over the elements of a dictionary

In [153]:
# len of the short
# len of the longest

# difference: append that many times "None"

names = ["Clara", "Albert", "Laura"]
city = ["Barcelona"]

dif = len(names) - len(city)

for i in range(dif):
    city.append(None)

for n, c in zip(names, city):
    print(n, c)

Clara Barcelona
Albert None
Laura None

## Summary
It's your turn, what have we learned today?