# RECAP: Flow Control & list comprehensions

- List comprehensions
    - Creating a list: loop & append*
    - Shorter & more complex: Writing loops
    - Only if you have practice
    
- Syntax
    - `name_new_list = [result for i in something]`
    - `name_new_cond = [i for i in something if i > 5]`
    - `name_if_else = [i.upper() if len(i) > 5 else i.lower() for i in something ]`

- Comprehension
    - Lists
    - Dictionaries: `name = {key:value for key:value in something.items()}`
        - zip: list_1, list_2
        `name = {item_list_1:item_list_2 for item_list_1, item_list_2 in zip(list_1, list_2)}` 
            - names = ["Albert", "Clara"]
            - cities = ["Mataró, "Barcelona"]
            dict_cities_names = {"Albert":"Mataró", "Clara": "Barcelona"}
    
    - Sets
    - Tuples


- zip: it loops through two (or more) lists at once
    - same length: ok
    - not same length: shortest one
    - list_1 & list_2
    - `for item_list_1, item_list_2 in zip(list_1, list_2)`
    
    
- `enumerate`: index
    - It helps us get the item & its index at once
    - `for index, element in enumerate(list_1)`
    - `for a, b  in  enueramate(list_1)`
    - `for position, the_item  in  enumerate(list_1)`
    - First one refers to the index
    
- LOOPS
     - while
         - you don't know how many times
         - it stops: based on a condition until it's met
         
     - for
         - when you know; based on the length of whatever you're looping
     
     - keywords:
         - continue: doesn't stop loop, jumps into next iteration. 
         - break: stops the loop.
         - pass: it passes, it does nothing, makes sure the code doesn't break, placeholder.
     
     - loopable objects
         - iterables
         - an INT is not an iterable
             - workaround: cast into str
         
- Pseudocode
    - what is it: human way of writing code
    - useful to draft your code before actually coding
    - gives you a plan
    
- Refactoring
    - Making your code better
    - IS: changing the form but not the function
        - More efficient: 
            - Faster
            - Remove unnecessary steps along the way
        - Cleaner
        - More explicit
        - Less code
        
- IF vs. IF / ELIF   
   - If / if 
       - Problems: 
           - check separately
           - Conditions AREN'T mutually exclusive
           - Check for many things at once
           - Password:
               if len()
               if characher included
               if uppercase
  
   
   - If / elif
      - Either option, one OR the other, but not both
      - Cannot be used with greater than AND smaller than -> mutually exclusive
   - If / if / if / if
       - Still will work
       - Not efficient: python will continue reading all of it
- formatting
    - print(f"My string {var1}, {var2}")
    - print("My string {}, {}".format(var1, var2))
    - It can be saved into a variable
    
- Strings & variables
    - string methods return some things: workaround
        - doesn't persist: it may not modify the actual object
        - COPY instead of changing the thing
        - to persist: new variable
        - HINTs: 
            - If printed: not affected
            - If not printed: changed (won't tell you)
            
- BOOL
    - Data type: Boolean, True / False
    - Truthy / Falsie: what things evaluate to
        - str, data type str -> evaluate to truthy or falsie
    - What are falsies:
        - 0
        - range(0)
        - 0.0
        - Empty data strcutures: [], (), {} (dict), set(), ""
    - (True and False): False
    - (False and False):
        - is false
        - false == false -> true
        - `(False and False) == False` -> True
    - True and True: True
    - conditions
        - `if len(var) > 0`
        - `if var`

In [ ]:
# TypeError: 'int' object is not iterable

In [4]:
hello = False and False
hello

False

In [5]:
hello == False

True

In [12]:
True or False

True

In [13]:
False or True

True

In [14]:
False or False

False

In [15]:
False or True

True

In [16]:
True or True

True

```
cond_1 = True
cond_2 = False
cond_3 = True
cond_4 = True

for ...
    if...
        cond_2 = True
        
print(((cond_1 or cond_2) and cond_3) == cond_4) #true / false
```

In [21]:
((cond_1 or cond_2) and cond_3) == cond_4

True

In [17]:
False or True # OR -> True

True

In [11]:
(False or False) == False # should be true (?)

True

In [8]:
(True and False) == False

True

In [4]:
# empty set
set()

set()

In [5]:
my_list = []

In [7]:
my_list = list()
my_list

[]

# Functional Programming

![elgif](https://media.giphy.com/media/CuMiNoTRz2bYc/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Your-contributions-🚀" data-toc-modified-id="Your-contributions-🚀-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Your contributions 🚀</a></span></li><li><span><a href="#What-is-functional-programming?:-paradigms" data-toc-modified-id="What-is-functional-programming?:-paradigms-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is functional programming?: paradigms</a></span></li><li><span><a href="#Built-in-functions" data-toc-modified-id="Built-in-functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Built-in functions</a></span></li><li><span><a href="#USER---DEFINED-FUNCTIONS" data-toc-modified-id="USER---DEFINED-FUNCTIONS-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>USER - DEFINED FUNCTIONS</a></span><ul class="toc-item"><li><span><a href="#def" data-toc-modified-id="def-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>def</a></span></li><li><span><a href="#name" data-toc-modified-id="name-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>name</a></span></li><li><span><a href="#parameters" data-toc-modified-id="parameters-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>parameters</a></span></li><li><span><a href="#arguments" data-toc-modified-id="arguments-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>arguments</a></span><ul class="toc-item"><li><span><a href="#default-parameters" data-toc-modified-id="default-parameters-4.4.1"><span class="toc-item-num">4.4.1&nbsp;&nbsp;</span>default parameters</a></span></li><li><span><a href="#positional-arguments-&amp;-keyword-arguments" data-toc-modified-id="positional-arguments-&amp;-keyword-arguments-4.4.2"><span class="toc-item-num">4.4.2&nbsp;&nbsp;</span>positional arguments &amp; keyword arguments</a></span></li><li><span><a href="#*args" data-toc-modified-id="*args-4.4.3"><span class="toc-item-num">4.4.3&nbsp;&nbsp;</span><code>*args</code></a></span></li><li><span><a href="#**kwargs" data-toc-modified-id="**kwargs-4.4.4"><span class="toc-item-num">4.4.4&nbsp;&nbsp;</span>**kwargs</a></span></li><li><span><a href="#order" data-toc-modified-id="order-4.4.5"><span class="toc-item-num">4.4.5&nbsp;&nbsp;</span>order</a></span></li></ul></li><li><span><a href="#return" data-toc-modified-id="return-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>return</a></span></li><li><span><a href="#Docstrings:-documentation-strings" data-toc-modified-id="Docstrings:-documentation-strings-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Docstrings: documentation strings</a></span></li><li><span><a href="#source-code" data-toc-modified-id="source-code-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>source code</a></span></li></ul></li><li><span><a href="#Scope-of-functions" data-toc-modified-id="Scope-of-functions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Scope of functions</a></span></li><li><span><a href="#Lambda" data-toc-modified-id="Lambda-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Lambda</a></span><ul class="toc-item"><li><span><a href="#Syntax-of-a-lambda" data-toc-modified-id="Syntax-of-a-lambda-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Syntax of a lambda</a></span></li><li><span><a href="#lambda-examples" data-toc-modified-id="lambda-examples-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>lambda examples</a></span></li><li><span><a href="#lambda--as-the-option-of-some-other-built-in-functions" data-toc-modified-id="lambda--as-the-option-of-some-other-built-in-functions-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>lambda</code>  as the option of some other built-in functions</a></span></li></ul></li><li><span><a href="#Functions:-functions-as-return-of-another-function" data-toc-modified-id="Functions:-functions-as-return-of-another-function-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Functions: functions as return of another function</a></span></li><li><span><a href="#Recursion" data-toc-modified-id="Recursion-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Recursion</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

-- overwrite your changes
-- git stash
-- git pull

## Your contributions 🚀
What do you think functions do/what properties do they have? Whare they useful for?

- FUNCTIONS
    - transform x into z
    - a box where you put something in and you get something out transformed
        - Piece of code (box): DO THINGS
    - something you make to invoke later, and it takes arguments
        - 1. DEFINE, 2. CALL
    - way to avoid repeatitive actions
        - lazy -> reuse code
        - Code to be reused, lives are easier
        - 1. Define once, 2. Call many times, 
    - make our code simpler
    - personalizing a task
        - specific: ONE specific task
        - general: many different instances of the same thing
            - def function_restaurants (location):
                return restaurants
                
                - specific: ONLY gives you restaurants. Doesn't give you bars
                - general: diferent locations
                
    - easy maintenance of the code 
        - one change: easier to debug
        - within a little box
        - If code: encapsulated (box) -> box and fix it
            - spot it, easier to find
        
    - standard functions: built-in functions
        - user-defined functions: `def my_defined_function ()`
        - built-in functions: `print()`, `"".capitalize()`
        - lambda: `lambda x: x * 2`
        
- Test driven development (TDD): paradigm
    - 1. Possible problems
    - 2. Goals
    - 3. Tests for the code
    - 4. Code
    
    - This code should be returning a number
    - The number should be greater than a qty
    - The code should work even if the number is passed as a string
    - ...
    
- Today (lab), it is test based
- Codewars
`import unittest` -> to do it yourself

## What is functional programming?: paradigms
What does it mean that Python is multi-paradigm?
According to Wikipedia:

“Python is an interpreted programming language whose philosophy emphasizes the readability of its code. It is a multiparadigm programming language, since it supports object orientation, imperative programming and, to a lesser extent, functional programming.

It means that it accepts different ways of working with language. Basically there are 3 predominant paradigms, or in other words, 3 global formats to organize a code.

- **Imperative programming (structured)**: the code will be executed from the beginning of the file to the end without following any type of deviation. Its biggest advantage lies in its simplicity and low weight. Its danger is the spaghetti code, files with hundreds or thousands of lines where only a few human beings are able to modify and emerge victorious. It can look like this:

In [5]:
# do this
# do this now
# do this later
# do that
# ...
# top -> bottom
# imperative programming


import pandas as pd
df = pd.read_csv("../datasets/auto-mpg.csv")
df.head()
df.drop(columns=["mpg"])
df[["cylinders","weight"]]

# Pandas is managing tables: csv

     cylinders  weight
0            8    3504
1            8    3693
2            8    3436
3            8    3433
4            8    3449
..         ...     ...
393          4    2790
394          4    2130
395          4    2295
396          4    2625
397          4    2720

[398 rows x 2 columns]

- **Object Oriented Programming (OOP or Object Oriented Programming)**: where variables and functions are encapsulated in small modules capable of being cloned and modified. Its strong point is the ability to reuse and isolate to avoid problems with other features. The negative part lies in the complexity of creating good objects and debugging. It can look like this:

In [ ]:
class Car ():
    # model
    # passengers
    # color
    # speed
    
    # def backwards ():
        pass
    # def break ():
        pass
    
    
my_car = Car()    
bego_car = Car()

# classes / objetcs -> attributes & things
# re-use

- **Functional programming (FP or Functional programming)**: where the code is divided into simple functions capable of being invoked with variables or other functions. Its ease of use by atomicity achieves robust maintainability and compatibility with almost any language. In addition, its immutability of variables avoids many of the problems that object-oriented programming suffers.

In [6]:
def greeting (name):
    return f"Hello {name}!"

In [7]:
greeting("Bego") # calling / invoking the function

'Hello Bego!'

In [8]:
greeting("Marina")

'Hello Marina!'

In [9]:
greeting("Albert")

'Hello Albert!'

## Built-in functions

The Python interpreter has a number of built-in functions and types that are always available. They are listed [here](https://docs.python.org/3/library/functions.html) in alphabetical order.

In [10]:
print("Hello") 

# no need to def the print
# takes an arg
# gives us a message on the interface

Hello

In case of built-in functions we can't extract the code with inspect, since Python itself is written in C... the Print function looks like this 👇🏻

```C
static PyObject *
builtin_print(PyObject *self, PyObject *args, PyObject *kwds)
{
    static char *kwlist[] = {"sep", "end", "file", 0};
    static PyObject *dummy_args = NULL;
    static PyObject *unicode_newline = NULL, *unicode_space = NULL;
    static PyObject *str_newline = NULL, *str_space = NULL;
    PyObject *newline, *space;
    PyObject *sep = NULL, *end = NULL, *file = NULL;
    int i, err, use_unicode = 0;

    if (dummy_args == NULL) {
        if (!(dummy_args = PyTuple_New(0)))
            return NULL;
    }
    if (str_newline == NULL) {
        str_newline = PyString_FromString("\n");
        if (str_newline == NULL)
            return NULL;
        str_space = PyString_FromString(" ");
        if (str_space == NULL) {
            Py_CLEAR(str_newline);
            return NULL;
        }
#ifdef Py_USING_UNICODE
        unicode_newline = PyUnicode_FromString("\n");
        if (unicode_newline == NULL) {
            Py_CLEAR(str_newline);
            Py_CLEAR(str_space);
            return NULL;
        }
        unicode_space = PyUnicode_FromString(" ");
        if (unicode_space == NULL) {
            Py_CLEAR(str_newline);
            Py_CLEAR(str_space);
            Py_CLEAR(unicode_space);
            return NULL;
        }
#endif
    }
    if (!PyArg_ParseTupleAndKeywords(dummy_args, kwds, "|OOO:print",
                                     kwlist, &sep, &end, &file))
        return NULL;
    if (file == NULL || file == Py_None) {
        file = PySys_GetObject("stdout");
        /* sys.stdout may be None when FILE* stdout isn't connected */
        if (file == Py_None)
            Py_RETURN_NONE;
    }
    if (sep == Py_None) {
        sep = NULL;
    }
    else if (sep) {
        if (PyUnicode_Check(sep)) {
            use_unicode = 1;
        }
        else if (!PyString_Check(sep)) {
            PyErr_Format(PyExc_TypeError,
                         "sep must be None, str or unicode, not %.200s",
                         sep->ob_type->tp_name);
            return NULL;
        }
    }
    if (end == Py_None)
        end = NULL;
    else if (end) {
        if (PyUnicode_Check(end)) {
            use_unicode = 1;
        }
        else if (!PyString_Check(end)) {
            PyErr_Format(PyExc_TypeError,
                         "end must be None, str or unicode, not %.200s",
                         end->ob_type->tp_name);
            return NULL;
        }
    }

    if (!use_unicode) {
        for (i = 0; i < PyTuple_Size(args); i++) {
            if (PyUnicode_Check(PyTuple_GET_ITEM(args, i))) {
                use_unicode = 1;
                break;
            }
        }
    }
    if (use_unicode) {
        newline = unicode_newline;
        space = unicode_space;
    }
    else {
        newline = str_newline;
        space = str_space;
    }

    for (i = 0; i < PyTuple_Size(args); i++) {
        if (i > 0) {
            if (sep == NULL)
                err = PyFile_WriteObject(space, file,
                                         Py_PRINT_RAW);
            else
                err = PyFile_WriteObject(sep, file,
                                         Py_PRINT_RAW);
            if (err)
                return NULL;
        }
        err = PyFile_WriteObject(PyTuple_GetItem(args, i), file,
                                 Py_PRINT_RAW);
        if (err)
            return NULL;
    }

    if (end == NULL)
        err = PyFile_WriteObject(newline, file, Py_PRINT_RAW);
    else
        err = PyFile_WriteObject(end, file, Py_PRINT_RAW);
    if (err)
        return NULL;

    Py_RETURN_NONE;
}
```

In [11]:
print(":)")

:)

In [12]:
# abstraction
    # literal

## USER - DEFINED FUNCTIONS

- `def` 
- `name` 
- `params` 
- `args` 
-  `return`
- `docstrings` 

- `source coude`

**Syntax for DEFINING a function**
```python

def name_function(input params):
    # the colon and the indentation imply being in the function
    take an action
    return() # return a certain value

```

**Syntax for CALLING a function**

`name_of_the_function(argument1, argument2, ...)`

or, if you want to save the result in a variable

`result = name_of_the_function(argument1, argument2, ...)`

### def

In [ ]:
def

### name

In [ ]:
def renaming_columns # verbs

### parameters

`()`

In [ ]:
def greeging (name) # param

`(param_1, param_2)`

### arguments

In [ ]:
def greeging ("Bego") # argument

Formal parameters for a function are listed in the function declaration and used in the body of the function definition.

An argument is what is used when referring to parameters. When you write a function call, the arguments are listed in parentheses after the function name. When the function call is executed, the arguments are inserted for the parameters.

Let's say then that the parameters are those "imaginary" variables that will have the same name in the definition and in the body of the function.
The arguments are the REAL DATA that we use when we call the function.

#### default parameters

`(param_1, param_default = defaultvalue)`

1. `greetings_default(myself, someone_else, language="en")`

In [14]:
def greetings_default (myself, someone_else, language="en"):
    
    return f"Hi {someone_else}! My name is {myself}"

In [15]:
greetings_default ("Fer", "Bego", language="en")

'Hi Bego! My name is Fer'

In [16]:
greetings_default ("Fer", "Bego") # ther is a default

'Hi Bego! My name is Fer'

In [17]:
greetings_default ("Fer", "Bego", language="es")

'Hi Bego! My name is Fer'

In [18]:
def greetings_default (myself, someone_else, language="en"):
    
    if language == "en":
        return f"Hi {someone_else}! My name is {myself}"
    
    elif language == "es":
        return f"Hola {someone_else}! Soy {myself}"

In [19]:
greetings_default ("Fer", "Bego", language="en")

'Hi Bego! My name is Fer'

In [20]:
greetings_default ("Fer", "Bego", language="es")

'Hola Bego! Soy Fer'

In [21]:
greetings_default ("Fer", "Bego")

'Hi Bego! My name is Fer'

In [ ]:
# Q: why default instead of also including it as a regular parameter?
# A: so that I don't have to pass the arguemnt if not needed

In [39]:
def greetings_default (myself, someone_else, the_language):
    
    if the_language == "en":
        return f"Hi {someone_else}! My name is {myself}"
    
    elif the_language == "es":
        return f"Hola {someone_else}! Soy {myself}"

In [40]:
greetings_default ("Fer", "Bego", "es")

'Hola Bego! Soy Fer'

In [30]:
greetings_default ("Fer", "Bego","en")

'Hi Bego! My name is Fer'

In [25]:
greetings_default ("Fer", "Bego")

TypeError: greetings_default() missing 1 required positional argument: 'language'

In [ ]:
# TypeError: greetings_default() missing 1 required positional argument: 'language'

2. `calculation (num_1, num_2, operation="+")`

In [131]:
def calculation (num_1, num_2, operation = "+"):
    
    if operation == "+":
        return num_1 + num_2
    
    elif operation == "*":
        return num_1 * num_2
    
    elif operation == "/":
        return num_1 / num_2
    
    else:
        return num_1 - num_2

In [45]:
calculation (10, 3, operation = "+")

13

In [46]:
calculation (10, 3) #default

13

In [47]:
calculation (10, 3, "/")

3.3333333333333335

In [48]:
calculation (10, 3, "%")

7

In [133]:
# Q: If it's a default: refactor?

def calculation (num_1, num_2, operation = "+"):
        
    if operation == "*":
        return num_1 * num_2
    
    elif operation == "/":
        return num_1 / num_2
    
    elif operation == "-":
        return num_1 - num_2
    
    return num_1 + num_2

In [57]:
calculation (num_1 = 10, num_2 = 3, operation="*")

30

In [58]:
calculation (10, 3, "*")

30

In [ ]:
# After a functions hits return, it is DONE

In [ ]:
# User-defined
    # docstring: string with documentation within the code
# from library
    # shift & tab:

In [62]:
import pandas as pd
df = pd.read_csv(sep=",")
df.head()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

#### positional arguments & keyword arguments

`def addition (num_1, some_name=withavalue)`

#### `*args`
In Python, the special parameter `*args` in a function is used to optionally pass a variable number of **positional** arguments.

`two arguments`

In [63]:
def addition_of_numbers (a, b):
    return a + b

In [64]:
addition_of_numbers (10, 3)

13

In [100]:
def addition_of_numbers (*nums): # variable number of args
    counter = 0
    
    print(f"The *nums are: ", nums)
    print(f"The type(*nums) is: ", type(nums))

    for i in nums:
        counter += i
        
    return counter

In [102]:
addition_of_numbers (1, 2, 34)

The *nums are:  (1, 2, 34)
The type(*nums) is:  <class 'tuple'>

37

`unkown number of arguments`

In [110]:
def addition_of_numbers (num_1, num_2, *nums): # variable number of args
    counter = 0
    
    regular_addition = num_1 * num_2

    for i in nums:
        counter += i
        
    total = regular_addition + counter 
    return total

In [111]:
addition_of_numbers (30, 2)

60

In [112]:
addition_of_numbers (2, 10, 4, 0, 10, 3, 4, 5)
#addition_of_numbers (2, 10, *(4, 0, 10, 3, 4, 5))

46

In [128]:
addition_of_numbers (30, 2)

60

In [129]:
result_of_calculation = addition_of_numbers (30, 2)

In [130]:
result_of_calculation

60

`otherwise`: errors

#### **kwargs

In [ ]:
# Unknown number of arguments: *args
# Unkown number of arguemtns: **kwargs

In [150]:
def function_example (a, b, *args, **kwargs):
    
    print(f"A is: {a}, of type {type(a)}")
    print(f"B is: {b}, of type {type(b)}")
    print(f"Args is: {args}, of type {type(args)}")
    print(f"kwargs is: {kwargs}, of type {type(kwargs)}")

In [148]:
def function_example (*args, **kwargs):
    
    print(f"Args is: {args}, of type {type(args)}")
    print(f"kwargs is: {kwargs}, of type {type(kwargs)}")

In [151]:
function_example ([1, 23], 20, 1, 2, 3, name="Santi")

A is: [1, 23], of type <class 'list'>
B is: 20, of type <class 'int'>
Args is: (1, 2, 3), of type <class 'tuple'>
kwargs is: {'name': 'Santi'}, of type <class 'dict'>

In [147]:
function_example (10, 20, 1, 2, 3, name="Santi")

A is: 10, of type <class 'int'>
B is: 20, of type <class 'int'>
Args is: (1, 2, 3), of type <class 'tuple'>
kwargs is: {'name': 'Santi'}, of type <class 'dict'>

In [ ]:
# *dict

In [205]:
def job_description (year, salary, *hours, **kwargs):
    
    # 1. Year & salary: positional arguments
    print(f"The year is: {year}")
    print(f"The salary for this position is: {salary}")
    
    # 2. Variable numbers
    print(f"The hours are {hours}, type: {type(hours)}")
    total_hours = 0 
    for i in hours:
        total_hours += i
        
    print(f"I worked a total of {total_hours}")
    
    # 3. Handle kwargs
    
    for key, value in kwargs.items():
        print(f"My {key} is: {value}")

In [202]:
# average salary in Spain: before tax
    # 20k something
    # 22k

In [190]:
job_description (2023, 25000, 8, 6, 5, 8, 3, name="Marina", age = 27, city = "Mataró")

The year is: 2023
The salary for this position is: 25000
The hours are (8, 6, 5, 8, 3), type: <class 'tuple'>
I worked a total of 30
My name is: Marina
My age is: 27
My city is: Mataró

In [191]:
dict_marina = {
    "name":"Marina",
    "age":27, 
    "city":"Mataró"
}

In [192]:
dict_albert = {
    "name":"Albert",
    "age":30, 
    "city":"Barcelona"
}

In [206]:
hours = (8, 6, 5, 8, 3)

In [207]:
job_description (2023, 25000, *hours, **dict_albert)

The year is: 2023
The salary for this position is: 25000
The hours are (8, 6, 5, 8, 3), type: <class 'tuple'>
I worked a total of 30
My name is: Albert
My age is: 30
My city is: Barcelona

In [195]:
dict_marina = {
    "name":"Marina",
    "age":27, 
    "city":"Mataró",
    "hobbies":"surfing"
}

In [196]:
job_description (2023, 25000, *hours, **dict_marina) 
# unknown number of args & kwarg

The year is: 2023
The salary for this position is: 25000
The hours are (8, 6, 5, 8, 3), type: <class 'tuple'>
I worked a total of 30
My name is: Marina
My age is: 27
My city is: Mataró
My hobbies is: surfing

In [ ]:
job_description (2023, 25000, *[80, 4, 1, 3], **dict_albert) # If d. structure -> *, ** when calling

In [211]:
job_description (2023, 25000, 80, 4, 1, 3, name="Marina") # If item -> nothing when calling

The year is: 2023
The salary for this position is: 25000
The hours are (80, 4, 1, 3), type: <class 'tuple'>
I worked a total of 88
My name is: Marina

In [213]:
#job_description (2023, 25000, *[[80, 4], 1, 3], **dict_albert) # If d. structure -> *, ** when calling

In [ ]:
job_description (2023, 25000, *[80, 4, 1, 3], **dict_albert) # If d. structure -> *, ** when calling

#### order

`def example(arg1, arg2, *args,**kwargs)`

In [217]:
job_description (**dict_albert, 1, 2) # If d. structure -> *, ** when calling

SyntaxError: positional argument follows keyword argument unpacking (2818120216.py, line 1)

In [ ]:
#(a, b, *args, **kwargs)

In [219]:
job_description (1, 2, 20, name="Albert",)

The year is: 1
The salary for this position is: 2
The hours are (20,), type: <class 'tuple'>
I worked a total of 20
My name is: Albert

In [220]:
job_description (1, 2, name="Albert", 20) # args, kwargs

SyntaxError: positional argument follows keyword argument (1763996982.py, line 1)

In [224]:
pd.read_csv("../datasets/avocado_kaggle.csv", sep=",").sample()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
2575,27,2015-06-21,1.4,60370.27,624.44,32511.25,3173.19,24061.39,24061.39,0.0,0.0,conventional,2015,Syracuse

In [226]:
pd.read_csv(",", "../datasets/avocado_kaggle.csv" ).sample()

TypeError: read_csv() takes 1 positional argument but 2 were given

In [228]:
pd.read_csv(sep = ",", "../datasets/avocado_kaggle.csv").sample()

SyntaxError: positional argument follows keyword argument (284209840.py, line 1)

### return

- return gives you something back
- there can be more than one return
- **after a function returns something, the execution STOPS**

`function with return`

In [243]:
def addition_return (a, b):
    return a + b

In [244]:
addition_return (10, 5)

15

In [245]:
type(addition_return (10, 5))

int

`function with no return`: NoneType

In [246]:
def addition_print (a, b):
    print (a + b)

In [247]:
addition_print(10, 5)

15

In [248]:
type(addition_print (10, 5))

15

NoneType

In [ ]:
# None should equal something else
    # You are not returning anything: no return 
    # You are returning a print() or nothing

In [249]:
num = 10
type(print(num))

10

NoneType

In [ ]:
# When to return
    # We need to refer to it in the future
    # keep the value
    
# When don't return 
    # We only want info
    # Just print
    # Do things

`accessing the value of the result of the function`: print & return

In [250]:
def addition_return (a, b):
    return a + b

In [251]:
result = addition_return (10, 5)
result

15

In [252]:
result * 0.85

12.75

In [264]:
def addition_print (a, b):
    print(a + b)

In [265]:
result_print = addition_print (10, 5)
result_print

15

In [266]:
result_print * 0.85

TypeError: unsupported operand type(s) for *: 'NoneType' and 'float'

`more than one return`

In [272]:
def multiplied (a, b):
    return a*2, b*2, b*a

In [275]:
multiplied (20, 4)

(40, 8, 80)

In [276]:
first_value = multiplied (20, 4)[0]

In [277]:
first_value

40

### Docstrings: documentation strings

- The code is written 1 time.
- The code is read 100 times.
- Help your colleagues understand your work.

![lafoto](https://res.cloudinary.com/highflyer910/image/upload/v1589577574/1_1_httqnc.jpg)

In this example, we have defined a cat function that returns meow. We have declared a docstring that explains what the function does. To get the docstring of a function, we need to display the doc attribute (print(cat.__doc__))
Photo reference, description and more info about docstring [here](https://techiestuff.netlify.app/blog/what-is-a-python-docstring/)

In [ ]:
# technical debt
    # solving things that are not priorities
    # documenting code
    # refactoring

In [284]:
def greeting_function (myself, someone_else, age=0):
    """
    This function greets by introducing yourself
    Stating your name, saying hi to someone and stating your age
    :myself: str, me
    :someone_else: str, someone
    :age: optional. int, my age
    """
    return f"Hello! {someone_else}, my name is {myself} and I am {age} years old"

In [321]:
greeting_function ("Fer", "Bego", 456789)

'Hello! Bego, my name is Fer and I am 456789 years old'

In [288]:
greeting_function ("Fer", "Bego")

'Hello! Bego, my name is Fer and I am 0 years old'

In [280]:
greeting_function.__doc__

'This function greets by introducing yourself\n    Stating your name, saying hi to someone and stating your age\n    :myself: str, me\n    :someone_else: str, someone\n    :age: int, my age\n    '

In [281]:
print(greeting_function.__doc__)

This function greets by introducing yourself
    Stating your name, saying hi to someone and stating your age
    :myself: str, me
    :someone_else: str, someone
    :age: int, my age

In [282]:
import inspect
print(inspect.getsource(greeting_function))

def greeting_function (myself, someone_else, age):
    """This function greets by introducing yourself
    Stating your name, saying hi to someone and stating your age
    :myself: str, me
    :someone_else: str, someone
    :age: int, my age
    """
    return f"Hello! {someone_else}, my name is {myself} and I am {age} years old"

### source code

## Scope of functions

`outer to inner`

In [304]:
# what happens in a function, stays in a function

def greets (name):
    greeting_string = f"Hello there! I am {name}"
    age_inside_function_3 = 30
    return greeting_string


def greets_2 (name):
    greeting_string = f"Hello there! I am {name} second function"
    age_inside_function_3 = 20
    return greeting_string

In [305]:
print(age_inside_function_3)

NameError: name 'age_inside_function_3' is not defined

In [299]:
greets ("Marina")

'Hello there! I am Marina'

In [ ]:
greets_2 ("Bego")

In [300]:
print(greeting_string)

Hello there! I am Marina

In [301]:
greeting_string = greets ("Marina")
greeting_string

'Hello there! I am Marina'

In [302]:
print(age_inside_function)

NameError: name 'age_inside_function' is not defined

`inner to outter`

In [311]:
def greets (name):
    greeting_string = f"Hello there! I am {name}"
    age_inside_function = 30
    return greeting_string, age_inside_function

the_first_element, the_second_element = greets ("Marina")

In [312]:
the_first_element

'Hello there! I am Marina'

In [313]:
the_second_element

30

In [309]:
a, b = (3, 4)
print(a)
print(b)

3
4

In [ ]:
# hashtags & docstrings
   # comment: one.line
    # docstring: docs, multi-line
        # more extensive
        # it can be accessed through python native methods function.__doc__

[Extra: global variables](https://www.w3schools.com/python/python_variables_global.asp)

## Lambda
A lambda function is an anonymous function, with no identifier, that can be declared in place. Since we can take functions as arguments and assign them to variables, the notation that makes it possible to create lambda functions is very handy in many cases.


### Syntax of a lambda
```python
lambda <param list>:<return expression>
```

In [ ]:
# User defined
# Built-in methods
# lambda expressions
    # on the spot
    # no need to reuse
        # takes an argument
        # "returns" something

In [330]:
import pandas as pd
df = pd.read_csv("../datasets/avocado_kaggle.csv")
df.head()


df["AveragePrice"] = df["AveragePrice"].apply(lambda x: x*100)
df.head()

#{"AveragePrice": [133.0, 135.0, 93.0]}

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,133.0,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,135.0,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,93.0,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,108.0,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,128.0,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [331]:
import pandas as pd
df = pd.read_csv("../datasets/avocado_kaggle.csv")
df.head()

def multiply (x):
    return x * 100


df["AveragePrice"] = df["AveragePrice"].apply(multiply)
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,133.0,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,135.0,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,93.0,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,108.0,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,128.0,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

### lambda examples

### `lambda`  as the option of some other built-in functions

It is also possible to use these anonymous functions as arguments in calls to other functions. For example, in a call to sorted() or list.sort() we can use a lambda function as an argument to the key parameter:

In [332]:
list_ot_tuples = [("zaragoza", 10000, "b"), ("barcelona", 56767, "z"), ("madrid", 678900000, "a")]

In [333]:
list_ot_tuples

[('zaragoza', 10000, 'b'),
 ('barcelona', 56767, 'z'),
 ('madrid', 678900000, 'a')]

In [334]:
sorted(list_ot_tuples)

[('barcelona', 56767, 'z'),
 ('madrid', 678900000, 'a'),
 ('zaragoza', 10000, 'b')]

In [337]:
sorted(list_ot_tuples, key=lambda x: x[2])

[('madrid', 678900000, 'a'),
 ('zaragoza', 10000, 'b'),
 ('barcelona', 56767, 'z')]

In [338]:
sorted(list_ot_tuples, key = lambda x: x[1])

[('zaragoza', 10000, 'b'),
 ('barcelona', 56767, 'z'),
 ('madrid', 678900000, 'a')]

## Functions: functions as return of another function

In [351]:
def greater_number (a, b):
    if a > b:
        return a
    else:
        return b

In [352]:
greater_number (10, 3)

10

In [353]:
greater_number (3, 10)

10

In [367]:
def lesser_number (a, b):
    if a > b:
        return b
    else:
        return a

In [368]:
lesser_number (10, 3)

3

In [370]:
lesser_number (10, 30)

10

In [371]:
def compares (type_of_comparison):
    if type_of_comparison == "greater":
        return greater_number # fn
    
    elif type_of_comparison == "lesser":
        return lesser_number # fn

In [372]:
compares("greater")(10, 3) 

# compares("greater") -> # greater_number
# compares("greater")(10, 3 ) -> greater_number(a, b)

10

In [378]:
def compares (type_of_comparison):
    if type_of_comparison == "greater":
        return greater_number
    
    elif type_of_comparison == "lesser":
        return lambda x, y: x if x < y else y # fn

In [380]:
def compares (type_of_comparison):
    if type_of_comparison == "greater":
        return lambda x, y: x if x > y else y # fn
    
    elif type_of_comparison == "lesser":
        return lambda x, y: x if x < y else y # fn

In [381]:
compares("greater")(10, 3) 

# greater / lesser
    # greater number / lambda

10

In [382]:
compares("lesser")(10, 3)

3

## Recursion
It is called recursive call (or recursion), to those functions that in their algorithm, refer to itself.

Recursive calls are usually very useful in very specific cases, but due to their great feasibility of falling into infinite iterations, adequate preventive measures should be taken and only used when strictly necessary and there is no viable alternative way to solve the problem. avoiding recursion.

Python supports recursive calls, allowing a function to call itself, just as it does when calling another function.

In [385]:
def user ():
    
    value = int(input("Please input a number > 5: "))
    
    if value > 5:
        print("Success!")
    else: 
        return user() 
    
    # recursive function
    # the return is calling itself
    # it's like a while loop

In [386]:
user()

Please input a number > 5: 5
Please input a number > 5: 6
Success!

`ins't it the same as a while loop?`

## Summary
It's your turn. What have we learned today?

TYPES OF FUNCTIONS

- user-defined
- built-in
- lambdas:
    - easy code
    - not reuse


- What is a function?
    - It's a piece of code
    - Functions to things
    - Piece of code that does thing
    - Re-usable code
    - Specific & general
        - DOES something very specific, well defined task
        - General: should work for different examples of the same

PARAMS

- Params & args: name & "bego"
    - param: name
    - arg: bego
    
    - default_param = 0
        - optional
        
- It can have return
    - Future use
    - Assing the result of the fn to a variable
- If it doesnt' have a return, it evalues to: None
- * args & ** kwargs: unknown/variable number of arguments
    - args: tupple-(r)-ized
    - kwargs: dictionir-ized
    - order: positional, args, kwargs

- print vs return
    - print: show (None)
    - return: give you the actual object
    
- SCOPE
    - what happens inside the function, stays in the function
        - save_into_variable = fun(a, b), it'll keep what you returned
    - From the outside -> inside, it does work
    
- CALLING THE FUNCTION
    - name_of_function(args if needed)
- DEFINING
    - `def function (args):`
- DOCSTRINGS
    - multi-line comments right below the def
        - 1. Description of what the function does
        - 2. Arguments it needs
            - name
            - what it is
            - type of data
    - summoning: `function_name.__doc__`
    - Hashtags: for one-line comments 
    
- Three different paradigms 
    - imperative
    - functional
    - OOP: object oriented programming
    
    
- TDD: test driven development
- Recursion:
    - Functions can call themselves
    - Functions can call other functions